# Práctica 1: Web Scraping

Conexión a la web de conteo de Coronavirus detallada por país:
https://www.worldometers.info/coronavirus/

Se utilizará Beautiful Soup para hacer Web Scraping, buscando la tabla de datos.
Pandas para pasar la información a un dataframe y ajustar la información para poder enviarla a un fichero CSV o bien enviarla a una base de datos.

## Sección 1: Web Scrapping

En esta sección del código se busca la tabla del origen y se guarda en una tabla.

In [1]:
#importamos las librerías de BeautifulSoup para obtener el código de html y ayudarnos al scraping
#se imprta de librería de request para "conectarse" a la url

from bs4 import BeautifulSoup as soup
from requests import get

#el dataset se encuentra en este página, la cual es actualizada cada minuto
my_url = "https://www.worldometers.info/coronavirus/"

pageHTML = get(my_url)

In [2]:
#se obtiene el código html
soup = soup(pageHTML.text)

#se muestran los primeros 1000 caracteres
soup.text[:1000]

'\n\n\n\n\n\nCoronavirus Update (Live): 1,722,850 Cases and 104,775 Deaths from COVID-19 Virus Pandemic - Worldometer\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\t\t$.extend( $.fn.dataTable.defaults, {\n    responsive: true\n} );\n\t\n\t$(document).ready(function() {\n    $(\'#example2\').dataTable( {\n        "scrollCollapse": true,\n\t\t"sDom": \'<"bottom"flp><"clear">\',\n        "paging":         false\n    } );\n} );\n\t\n\n\t\t$.extend( $.fn.dataTable.defaults, {\n    responsive: true\n} );\n\t\n\t$(document).ready(function() {\n    $(\'#table3\').dataTable( {\n        "scrollCollapse": true,\n\t\t\t\t "order": [[ 1, \'desc\' ]],\n\t\t"sDom": \'<"bottom"flp><"clear">\',\n        "paging":         false\n    } );\n} );\n\t\n\n\t\t$.extend( $.fn.dataTable.defaults, {\n    responsive: true\n} );\n\t\n\t$(document).ready(function() {\n    $(\'#example\').dataTable( {\n        "scrollCollapse": true,\n\t\t"searching": false,\n\n\t\t"sDom": \'<"top">rt<"bottom"flp><"clear">\',\n        "paging":         false\n    } );\n} );\n\t\n\n$(document).ready(function() {\n\t$(\'#popbycountry\').dat'

In [3]:
# con este código obtenemos la tabla que contiene la información de detalle de país que es la que queremos obtener.
# previo a escribir este código, se hizo una búsqueda manual en la página mirando el código de html para ver
# en dónde se encontraba la información, esta revisión se hizo con el browser, utilizando las herramientas de desarrollador
# que permiten ubicar el código señalando el objeto de interés, en este caso la tabla. Para esto utilicé Chrome con las
# herramientas de desarrollador y encontré que el objeto 'table' con la etiqueta 'tbody' contenía los valores
data = []
table = soup.find('table')
table_body = table.find('tbody')

# se van ubicando los saltos de línea para poder ir uno a uno llenando las líneas de la variable de tabla en donde 
# se guardarán los datos
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append(cols)

# se muestran los valores de la tabla para ver cómo viene la información.    
print (data)

[['North America', '537,570', '+729', '19,876', '+54', '34,462', '483,232', '11,906', '', '', '', '', 'North America'], ['Europe', '837,795', '+17,686', '71,870', '+1,807', '202,038', '563,887', '30,260', '', '', '', '', 'Europe'], ['Asia', '280,176', '+5,135', '10,435', '+211', '141,479', '128,262', '6,653', '', '', '', '', 'Asia'], ['South America', '45,165', '+189', '1,817', '+8', '4,692', '38,656', '896', '', '', '', '', 'South America'], ['Oceania', '7,702', '+94', '60', '+4', '3,688', '3,954', '85', '', '', '', '', 'Australia/Oceania'], ['Africa', '13,721', '+182', '704', '+7', '2,314', '10,703', '159', '', '', '', '', 'Africa'], ['', '721', '', '13', '', '619', '89', '10', '', '', '', '', ''], ['World', '1,722,850', '+24,015', '104,775', '+2,091', '389,292', '1,228,783', '49,969', '221', '13.4', '', '', 'All'], ['USA', '503,177', '+301', '18,761', '+14', '27,314', '457,102', '10,917', '1,520', '57', '2,538,888', '7,670', 'North America'], ['Spain', '161,852', '+3,579', '16,353', '+272', '59,109', '86,390', '7,371', '3,462', '350', '355,000', '7,593', 'Europe'], ['Italy', '147,577', '', '18,849', '', '30,455', '98,273', '3,497', '2,441', '312', '906,864', '14,999', 'Europe'], ['France', '124,869', '', '13,197', '', '24,932', '86,740', '7,004', '1,913', '202', '333,807', '5,114', 'Europe'], ['Germany', '122,855', '+684', '2,736', '', '53,913', '66,206', '4,895', '1,466', '33', '1,317,887', '15,730', 'Europe'], ['UK', '78,991', '+5,233', '9,875', '+917', '344', '68,772', '1,559', '1,164', '145', '334,974', '4,934', 'Europe'], ['Iran', '70,029', '+1,837', '4,357', '+125', '41,947', '23,725', '3,987', '834', '52', '251,703', '2,997', 'Asia'], ['Turkey', '47,029', '', '1,006', '', '2,423', '43,600', '1,667', '558', '12', '307,210', '3,643', 'Asia'], ['Belgium', '28,018', '+1,351', '3,346', '+327', '5,986', '18,686', '1,262', '2,418', '289', '102,151', '8,814', 'Europe'], ['Switzerland', '24,900', '+349', '1,003', '+1', '11,100', '12,797', '386', '2,877', '116', '190,000', '21,954', 'Europe'], ['Netherlands', '24,413', '+1,316', '2,643', '+132', '250', '21,520', '1,424', '1,425', '154', '101,534', '5,926', 'Europe'], ['Canada', '22,148', '', '569', '', '6,013', '15,566', '557', '587', '15', '383,322', '10,156', 'North America'], ['Brazil', '19,943', '+154', '1,074', '+6', '173', '18,696', '296', '94', '5', '62,985', '296', 'South America'], ['Portugal', '15,987', '+515', '470', '+35', '266', '15,251', '233', '1,568', '46', '140,863', '13,815', 'Europe'], ['Austria', '13,782', '+222', '337', '+18', '6,604', '6,841', '246', '1,530', '37', '140,975', '15,653', 'Europe'], ['Russia', '13,584', '+1,667', '106', '+12', '1,045', '12,433', '8', '93', '0.7', '1,184,442', '8,116', 'Europe'], ['Israel', '10,525', '+117', '96', '+1', '1,258', '9,171', '180', '1,216', '11', '117,339', '13,557', 'Asia'], ['S. Korea', '10,480', '+30', '211', '+3', '7,243', '3,026', '55', '204', '4', '510,479', '9,957', 'Asia'], ['Sweden', '10,151', '+466', '887', '+17', '381', '8,883', '774', '1,005', '88', '54,700', '5,416', 'Europe'], ['Ireland', '8,089', '', '287', '', '25', '7,777', '194', '1,638', '58', '53,000', '10,734', 'Europe'], ['India', '7,997', '+397', '249', '', '774', '6,974', '', '6', '0.2', '189,111', '137', 'Asia'], ['Ecuador', '7,161', '', '297', '', '368', '6,496', '171', '406', '17', '21,568', '1,222', 'South America'], ['Chile', '6,501', '', '65', '', '1,571', '4,865', '70', '340', '3', '72,797', '3,808', 'South America'], ['Norway', '6,360', '+46', '114', '+1', '32', '6,214', '67', '1,173', '21', '124,279', '22,924', 'Europe'], ['Australia', '6,303', '+65', '56', '+2', '3,265', '2,982', '80', '247', '2', '351,380', '13,780', 'Australia/Oceania'], ['Poland', '6,088', '+133', '195', '+14', '375', '5,518', '160', '161', '5', '129,560', '3,423', 'Europe'], ['Japan', '6,005', '', '99', '', '762', '5,144', '109', '47', '0.8', '64,387', '509', 'Asia'], ['Denmark', '5,996', '+177', '260', '+13', '1,955', '3,781', '106', '1,035', '45', '67,771', '11,700', 'Europe'], ['Romania', '5,990', '+523', '282', '+12', '758', '4,950', '208', '311', '15', '59,272', '3,081', 'Europe'], ['Peru', '5,897', '', '169', '', '1,569', '4,159', '130', '179', '5', '56,681', '1,719', 'South America'], ['Czechia', '5,735', '+3', '123', '+4', '370', '5,242', '92', '536', '11', '120,285', '11,232', 'Europe'], ['Pakistan', '4,970', '+275', '77', '+11', '762', '4,131', '50', '22', '0.3', '57,836', '262', 'Asia'], ['Malaysia', '4,530', '+184', '73', '+3', '1,995', '2,462', '72', '140', '2', '71,897', '2,221', 'Asia'], ['Philippines', '4,428', '+233', '247', '+26', '157', '4,024', '1', '40', '2', '24,500', '224', 'Asia'], ['Saudi Arabia', '4,033', '+382', '52', '+5', '720', '3,261', '57', '116', '1', '115,585', '3,320', 'Asia'], ['Mexico', '3,844', '+403', '233', '+39', '633', '2,978', '89', '30', '2', '31,492', '244', 'North America'], ['Indonesia', '3,842', '+330', '327', '+21', '286', '3,229', '', '14', '1', '19,452', '71', 'Asia'], ['UAE', '3,736', '+376', '20', '+4', '588', '3,128', '1', '378', '2', '593,095', '59,967', 'Asia'], ['Serbia', '3,380', '+275', '74', '+3', '118', '3,188', '145', '387', '8', '16,339', '1,870', 'Europe'], ['Luxembourg', '3,223', '', '54', '', '500', '2,669', '30', '5,149', '86', '28,273', '45,166', 'Europe'], ['Panama', '2,974', '', '74', '', '17', '2,883', '104', '689', '17', '11,776', '2,729', 'North America'], ['Finland', '2,905', '+136', '49', '+1', '300', '2,556', '80', '524', '9', '44,354', '8,005', 'Europe'], ['Qatar', '2,728', '+216', '6', '', '247', '2,475', '37', '947', '2', '47,751', '16,574', 'Asia'], ['Dominican Republic', '2,620', '', '126', '', '98', '2,396', '147', '242', '12', '7,936', '732', 'North America'], ['Thailand', '2,518', '+45', '35', '+2', '1,135', '1,348', '61', '36', '0.5', '71,860', '1,030', 'Asia'], ['Ukraine', '2,511', '+308', '73', '+4', '79', '2,359', '45', '57', '2', '26,577', '608', 'Europe'], ['Colombia', '2,473', '', '80', '', '197', '2,196', '85', '49', '2', '37,593', '739', 'South America'], ['Belarus', '2,226', '+245', '23', '+4', '172', '2,031', '72', '236', '2', '53,000', '5,609', 'Europe'], ['Singapore', '2,108', '', '7', '', '492', '1,609', '29', '360', '1', '72,680', '12,423', 'Asia'], ['Greece', '2,011', '', '92', '', '269', '1,650', '77', '193', '9', '35,532', '3,409', 'Europe'], ['South Africa', '2,003', '', '24', '', '410', '1,569', '7', '34', '0.4', '73,028', '1,231', 'Africa'], ['Argentina', '1,975', '', '83', '+1', '440', '1,452', '115', '44', '2', '16,379', '362', 'South America'], ['Egypt', '1,794', '', '135', '', '384', '1,275', '', '18', '1', '25,000', '244', 'Africa'], ['Algeria', '1,761', '', '256', '', '405', '1,100', '46', '40', '6', '3,359', '77', 'Africa'], ['Iceland', '1,689', '+14', '7', '', '841', '841', '11', '4,950', '21', '34,635', '101,497', 'Europe'], ['Croatia', '1,534', '+39', '21', '', '323', '1,190', '32', '374', '5', '15,691', '3,822', 'Europe'], ['Morocco', '1,527', '+79', '110', '+3', '141', '1,276', '1', '41', '3', '7,734', '210', 'Africa'], ['Moldova', '1,438', '', '29', '', '75', '1,334', '80', '356', '7', '6,271', '1,555', 'Europe'], ['New Zealand', '1,312', '+29', '4', '+2', '422', '886', '5', '272', '0.8', '58,746', '12,182', 'Australia/Oceania'], ['Hungary', '1,310', '+120', '85', '+8', '115', '1,110', '17', '136', '9', '31,961', '3,308', 'Europe'], ['Estonia', '1,304', '+46', '24', '', '93', '1,187', '11', '983', '18', '29,456', '22,205', 'Europe'], ['Iraq', '1,279', '', '70', '', '550', '659', '', '32', '2', '32,158', '800', 'Asia'], ['Slovenia', '1,188', '+28', '50', '+5', '148', '990', '37', '571', '24', '34,279', '16,489', 'Europe'], ['Kuwait', '1,154', '+161', '1', '', '133', '1,020', '27', '270', '0.2', '', '', 'Asia'], ['Lithuania', '1,026', '+27', '23', '+1', '54', '949', '14', '377', '8', '38,472', '14,132', 'Europe'], ['Bahrain', '1,016', '+91', '6', '', '551', '459', '3', '597', '4', '60,425', '35,511', 'Asia'], ['Hong Kong', '1,001', '+11', '4', '', '336', '661', '14', '134', '0.5', '96,709', '12,900', 'Asia'], ['Azerbaijan', '991', '', '10', '', '159', '822', '27', '98', '1.0', '61,342', '6,050', 'Asia'], ['Armenia', '967', '+30', '13', '+1', '173', '781', '30', '326', '4', '6,484', '2,188', 'Asia'], ['Bosnia and Herzegovina', '935', '+34', '37', '+1', '139', '759', '4', '285', '11', '6,911', '2,106', 'Europe'], ['Kazakhstan', '859', '+47', '10', '', '81', '768', '21', '46', '0.5', '61,955', '3,300', 'Asia'], ['Cameroon', '820', '', '12', '', '98', '710', '', '31', '0.5', '', '', 'Africa'], ['North Macedonia', '760', '+49', '34', '+2', '41', '685', '15', '365', '16', '7,653', '3,673', 'Europe'], ['Uzbekistan', '729', '+105', '3', '', '42', '684', '8', '22', '0.09', '70,000', '2,091', 'Asia'], ['Slovakia', '728', '+13', '2', '', '23', '703', '5', '133', '0.4', '25,846', '4,734', 'Europe'], ['Diamond Princess', '712', '', '11', '', '619', '82', '10', '', '', '', '', ''], ['Tunisia', '671', '', '25', '', '43', '603', '85', '57', '2', '10,087', '853', 'Africa'], ['Bulgaria', '648', '+13', '26', '+1', '62', '560', '32', '93', '4', '18,502', '2,663', 'Europe'], ['Latvia', '630', '+18', '3', '', '16', '611', '2', '334', '2', '27,796', '14,737', 'Europe'], ['Lebanon', '619', '+10', '20', '', '76', '523', '28', '91', '3', '14,055', '2,059', 'Asia'], ['Andorra', '601', '', '26', '', '71', '504', '17', '7,778', '337', '1,673', '21,653', 'Europe'], ['Cyprus', '595', '', '10', '', '58', '527', '11', '493', '8', '16,308', '13,507', 'Asia'], ['Cuba', '564', '', '15', '', '51', '498', '11', '50', '1', '12,023', '1,061', 'North America'], ['Costa Rica', '558', '', '3', '', '42', '513', '13', '110', '0.6', '6,298', '1,236', 'North America'], ['Afghanistan', '555', '+34', '18', '+3', '32', '505', '', '14', '0.5', '', '', 'Asia'], ['Oman', '546', '+62', '3', '', '109', '434', '3', '107', '0.6', '', '', 'Asia'], ['Uruguay', '494', '+21', '7', '', '214', '273', '15', '142', '2', '7,496', '2,158', 'South America'], ['Bangladesh', '482', '+58', '30', '+3', '36', '416', '1', '3', '0.2', '8,313', '50', 'Asia'], ['Ivory Coast', '480', '', '3', '', '54', '423', '', '18', '0.1', '', '', 'Africa'], ['Burkina Faso', '448', '', '26', '', '149', '273', '', '21', '1', '', '', 'Africa'], ['Niger', '438', '', '11', '', '41', '386', '', '18', '0.5', '4,298', '178', 'Africa'], ['Albania', '433', '+17', '23', '', '197', '213', '7', '150', '8', '3,644', '1,266', 'Europe'], ['Ghana', '408', '+30', '8', '+2', '4', '396', '2', '13', '0.3', '37,405', '1,204', 'Africa'], ['Channel Islands', '398', '', '9', '', '40', '349', '', '2,289', '52', '3,320', '19,095', 'Europe'], ['Honduras', '392', '+10', '24', '+1', '7', '361', '10', '40', '2', '1,600', '162', 'North America'], ['Taiwan', '385', '+3', '6', '', '99', '280', '', '16', '0.3', '45,436', '1,908', 'Asia'], ['Réunion', '382', '', '', '', '40', '342', '3', '427', '', '', '', 'Africa'], ['Jordan', '372', '', '7', '', '170', '195', '5', '36', '0.7', '17,000', '1,666', 'Asia'], ['Malta', '370', '+20', '3', '+1', '16', '351', '4', '838', '7', '16,016', '36,273', 'Europe'], ['San Marino', '356', '+12', '35', '+1', '53', '268', '14', '10,492', '1,032', '846', '24,933', 'Europe'], ['Kyrgyzstan', '339', '+41', '5', '', '44', '290', '5', '52', '0.8', '9,618', '1,474', 'Asia'], ['Mauritius', '318', '', '9', '', '23', '286', '3', '250', '7', '6,730', '5,292', 'Africa'], ['Nigeria', '305', '', '7', '', '58', '240', '2', '1', '0.03', '5,000', '24', 'Africa'], ['Senegal', '278', '+13', '2', '', '152', '124', '1', '17', '0.1', '', '', 'Africa'], ['Bolivia', '275', '+7', '20', '+1', '2', '253', '3', '24', '2', '591', '51', 'South America'], ['Palestine', '268', '+1', '2', '', '46', '220', '', '53', '0.4', '16,992', '3,331', 'Asia'], ['Montenegro', '262', '+5', '2', '', '5', '255', '7', '417', '3', '2,329', '3,708', 'Europe'], ['Vietnam', '258', '+1', '', '', '144', '114', '8', '3', '', '118,807', '1,221', 'Asia'], ['Georgia', '234', '', '3', '', '56', '175', '6', '59', '0.8', '3,271', '820', 'Asia'], ['DRC', '223', '', '20', '', '16', '187', '', '2', '0.2', '', '', 'Africa'], ['Guinea', '212', '', '', '', '15', '197', '', '16', '', '', '', 'Africa'], ['Isle of Man', '204', '+3', '1', '', '112', '91', '11', '2,399', '12', '1,934', '22,744', 'Europe'], ['Sri Lanka', '198', '+8', '7', '', '54', '137', '5', '9', '0.3', '3,248', '152', 'Asia'], ['Kenya', '191', '+2', '7', '', '24', '160', '2', '4', '0.1', '6,192', '115', 'Africa'], ['Mayotte', '191', '', '2', '', '50', '139', '4', '700', '7', '1,300', '4,765', 'Africa'], ['Djibouti', '187', '+37', '2', '+1', '36', '149', '', '189', '2', '4,017', '4,066', 'Africa'], ['Faeroe Islands', '184', '', '', '', '145', '39', '', '3,766', '', '5,408', '110,677', 'Europe'], ['Venezuela', '175', '', '9', '', '84', '82', '6', '6', '0.3', '159,597', '5,613', 'South America'], ['Martinique', '155', '', '6', '', '50', '99', '19', '413', '16', '', '', 'North America'], ['Guadeloupe', '143', '', '8', '', '67', '68', '13', '357', '20', '', '', 'North America'], ['Guatemala', '137', '+11', '3', '', '19', '115', '3', '8', '0.2', '1,134', '63', 'North America'], ['Brunei', '136', '', '1', '', '104', '31', '2', '311', '2', '9,637', '22,028', 'Asia'], ['Paraguay', '133', '+4', '6', '', '18', '109', '1', '19', '0.8', '2,262', '317', 'South America'], ['Gibraltar', '127', '', '', '', '69', '58', '1', '3,770', '', '1,543', '45,799', 'Europe'], ['Cambodia', '120', '+1', '', '', '75', '45', '1', '7', '', '5,768', '345', 'Asia'], ['El Salvador', '118', '+1', '6', '', '19', '93', '4', '18', '0.9', '', '', 'North America'], ['Rwanda', '118', '', '', '', '18', '100', '', '9', '', '806', '62', 'Africa'], ['Trinidad and Tobago', '109', '', '8', '', '3', '98', '', '78', '6', '1,090', '779', 'North America'], ['Madagascar', '102', '+9', '', '', '11', '91', '1', '4', '', '', '', 'Africa'], ['Monaco', '90', '', '1', '', '5', '84', '4', '2,293', '25', '', '', 'Europe'], ['Mali', '87', '', '7', '', '22', '58', '', '4', '0.3', '', '', 'Africa'], ['Aruba', '86', '', '', '', '27', '59', '', '805', '', '1,058', '9,910', 'North America'], ['French Guiana', '83', '', '', '', '43', '40', '1', '278', '', '', '', 'South America'], ['Liechtenstein', '79', '', '1', '', '55', '23', '', '2,072', '26', '900', '23,605', 'Europe'], ['Togo', '76', '', '3', '', '25', '48', '', '9', '0.4', '2,069', '250', 'Africa'], ['Ethiopia', '69', '+4', '3', '', '10', '56', '', '0.6', '0.03', '3,577', '31', 'Africa'], ['Barbados', '67', '', '4', '', '11', '52', '4', '233', '14', '736', '2,561', 'North America'], ['Jamaica', '65', '+2', '4', '', '13', '48', '', '22', '1', '907', '306', 'North America'], ['Congo', '60', '', '5', '', '5', '50', '', '11', '0.9', '', '', 'Africa'], ['Uganda', '53', '', '', '', '3', '50', '', '1', '', '3,310', '72', 'Africa'], ['French Polynesia', '51', '', '', '', '', '51', '', '182', '', '744', '2,649', 'Australia/Oceania'], ['Sint Maarten', '50', '', '8', '', '3', '39', '2', '1,166', '187', '134', '3,125', 'North America'], ['Bermuda', '48', '', '4', '', '25', '19', '2', '771', '64', '354', '5,684', 'North America'], ['Cayman Islands', '45', '', '1', '', '6', '38', '', '685', '15', '479', '7,288', 'North America'], ['Macao', '45', '', '', '', '10', '35', '1', '69', '', '', '', 'Asia'], ['Gabon', '44', '', '1', '', '1', '42', '', '20', '0.4', '', '', 'Africa'], ['Bahamas', '42', '', '8', '', '5', '29', '1', '107', '20', '', '', 'North America'], ['Guyana', '40', '+3', '6', '', '8', '26', '3', '51', '8', '175', '222', 'South America'], ['Zambia', '40', '', '2', '', '28', '10', '1', '2', '0.1', '1,239', '67', 'Africa'], ['Guinea-Bissau', '38', '+2', '', '', '', '38', '', '19', '', '1,500', '762', 'Africa'], ['Liberia', '37', '', '5', '', '3', '29', '', '7', '1.0', '', '', 'Africa'], ['Benin', '35', '', '1', '', '5', '29', '', '3', '0.08', '', '', 'Africa'], ['Eritrea', '34', '', '', '', '', '34', '', '10', '', '', '', 'Africa'], ['Tanzania', '32', '', '3', '', '5', '24', '', '0.5', '0.05', '', '', 'Africa'], ['Saint Martin', '32', '', '2', '', '11', '19', '5', '828', '52', '', '', 'North America'], ['Haiti', '31', '', '2', '', '', '29', '', '3', '0.2', '365', '32', 'North America'], ['Myanmar', '28', '+1', '3', '', '2', '23', '', '0.5', '0.06', '1,406', '26', 'Asia'], ['Libya', '24', '', '1', '', '8', '15', '', '3', '0.1', '492', '72', 'Africa'], ['Antigua and Barbuda', '21', '', '2', '', '', '19', '1', '214', '20', '40', '408', 'North America'], ['Somalia', '21', '', '1', '', '1', '19', '', '1', '0.06', '', '', 'Africa'], ['Mozambique', '20', '', '', '', '2', '18', '', '0.6', '', '483', '15', 'Africa'], ['Angola', '19', '', '2', '', '2', '15', '', '0.6', '0.06', '', '', 'Africa'], ['Sudan', '19', '+2', '2', '', '2', '15', '', '0.4', '0.05', '', '', 'Africa'], ['Syria', '19', '', '2', '', '4', '13', '', '1', '0.1', '', '', 'Asia'], ['Maldives', '19', '', '', '', '13', '6', '', '35', '', '', '', 'Asia'], ['Equatorial Guinea', '18', '', '', '', '3', '15', '', '13', '', '854', '609', 'Africa'], ['Laos', '18', '+2', '', '', '', '18', '', '2', '', '1,094', '150', 'Asia'], ['New Caledonia', '18', '', '', '', '1', '17', '', '63', '', '2,608', '9,135', 'Australia/Oceania'], ['Dominica', '16', '', '', '', '5', '11', '', '222', '', '309', '4,293', 'North America'], ['Fiji', '16', '', '', '', '', '16', '', '18', '', '', '', 'Australia/Oceania'], ['Mongolia', '16', '', '', '', '4', '12', '', '5', '', '', '', 'Asia'], ['Namibia', '16', '', '', '', '3', '13', '', '6', '', '362', '142', 'Africa'], ['Saint Lucia', '15', '', '', '', '1', '14', '', '82', '', '', '', 'North America'], ['Curaçao', '14', '', '1', '', '7', '6', '', '85', '6', '', '', 'North America'], ['Grenada', '14', '', '', '', '', '14', '2', '124', '', '92', '818', 'North America'], ['Zimbabwe', '13', '', '3', '', '', '10', '', '0.9', '0.2', '438', '29', 'Africa'], ['Botswana', '13', '', '1', '', '', '12', '', '6', '0.4', '1,154', '491', 'Africa'], ['Malawi', '12', '+3', '2', '+1', '', '10', '1', '0.6', '0.1', '231', '12', 'Africa'], ['Saint Kitts and Nevis', '12', '', '', '', '', '12', '', '226', '', '205', '3,853', 'North America'], ['St. Vincent Grenadines', '12', '', '', '', '1', '11', '', '108', '', '56', '505', 'North America'], ['Eswatini', '12', '', '', '', '7', '5', '', '10', '', '', '', 'Africa'], ['Chad', '11', '', '', '', '2', '9', '', '0.7', '', '', '', 'Africa'], ['Greenland', '11', '', '', '', '11', '0', '', '194', '', '770', '13,564', 'North America'], ['Seychelles', '11', '', '', '', '', '11', '', '112', '', '', '', 'Africa'], ['Belize', '10', '', '2', '', '', '8', '1', '25', '5', '364', '915', 'North America'], ['Suriname', '10', '', '1', '', '4', '5', '', '17', '2', '', '', 'South America'], ['MS Zaandam', '9', '', '2', '', '', '7', '', '', '', '', '', ''], ['Nepal', '9', '', '', '', '1', '8', '', '0.3', '', '3,524', '121', 'Asia'], ['Montserrat', '9', '', '', '', '', '9', '1', '1,803', '', '36', '7,212', 'North America'], ['Cabo Verde', '8', '+1', '1', '', '1', '6', '', '14', '2', '', '', 'Africa'], ['Nicaragua', '8', '+1', '1', '', '', '7', '', '1', '0.2', '', '', 'North America'], ['Turks and Caicos', '8', '', '1', '', '', '7', '', '207', '26', '61', '1,576', 'North America'], ['CAR', '8', '', '', '', '', '8', '', '2', '', '', '', 'Africa'], ['Vatican City', '8', '', '', '', '2', '6', '', '9,988', '', '', '', 'Europe'], ['Sierra Leone', '8', '', '', '', '', '8', '', '1', '', '', '', 'Africa'], ['Mauritania', '7', '', '1', '', '2', '4', '', '2', '0.2', '380', '82', 'Africa'], ['St. Barth', '6', '', '', '', '1', '5', '', '607', '', '', '', 'North America'], ['Bhutan', '5', '', '', '', '2', '3', '', '6', '', '1,166', '1,511', 'Asia'], ['Falkland Islands', '5', '', '', '', '1', '4', '', '1,437', '', '137', '39,368', 'South America'], ['Gambia', '4', '', '1', '', '2', '1', '', '2', '0.4', '', '', 'Africa'], ['Sao Tome and Principe', '4', '', '', '', '', '4', '', '18', '', '19', '87', 'Africa'], ['South Sudan', '4', '', '', '', '', '4', '', '0.4', '', '', '', 'Africa'], ['Wes

In [4]:
# eliminamos los valores que no tienen datos, si es que hay alguno
missingData = []
fixedData = [[]]
for row in data:
    for index,col in enumerate(row):
        if(col == ''):
            row[index] = 0
        
    missingData.append(row)

In [5]:
# definimos las cabeceras de acuerdo a la tabla de la web, colocando el nombre que queramos para las columnas.
# debemos tener cuidado porque la página fuente es actualizada constantemente, desde que inicié la práctica, se han hecho
# 5 cambios y se añaden líneas o columnas y si las columnas no coinciden, esta parte del código debe ser revisada y ajustada
# ya que de otra forma enviará un error, la forma de evitar el error es revisar el nombre de las columnas en la página fuente
# y dejar igual las columnas en un sitio y otro, si hay columnas o líneas no útiles, más adeoante se pueden eliminar.

headers = ["Country", "Total Cases", "New Cases", "Total Deaths","New Deaths", "Total Recovered", "Active Cases", "Serious, Critical", "Tot Cases/1M pop", "Tot Deaths/1M pop", "Total Tests", "Tests/1M pop", "Region"]

# mostramos las cabeceras para ver que todo es correcto
headers

# hasta este punto se ha hecho el scraping y la información está lista para pasar a un dataframe

['Country',
 'Total Cases',
 'New Cases',
 'Total Deaths',
 'New Deaths',
 'Total Recovered',
 'Active Cases',
 'Serious, Critical',
 'Tot Cases/1M pop',
 'Tot Deaths/1M pop',
 'Total Tests',
 'Tests/1M pop',
 'Region']

## Sección 2: Envío de datos a data frame

En esta sección se hace limpieza de datos y se escribe la tabla extraida a un dataframe que permite hacer tratamiento y operaciones sobre los datos.

In [6]:
# importamos pandas y numpy para crear dataframes a partir de la tabla creada y poder manipular mejor la información
import pandas as pd
import numpy as np

# se envía la tabla al dataframe
df = pd.DataFrame()
df = df.append(data)
df.columns = headers

# se muestra la información en formato dataframe
df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Tot Deaths/1M pop,Total Tests,Tests/1M pop,Region
0,North America,"537,570",+729,"19,876",+54,"34,462","483,232","11,906",0,0,0,0,North America
1,Europe,"837,795","+17,686","71,870","+1,807","202,038","563,887","30,260",0,0,0,0,Europe
2,Asia,"280,176","+5,135","10,435",+211,"141,479","128,262","6,653",0,0,0,0,Asia
3,South America,"45,165",+189,"1,817",+8,"4,692","38,656",896,0,0,0,0,South America
4,Oceania,"7,702",+94,60,+4,"3,688","3,954",85,0,0,0,0,Australia/Oceania
5,Africa,"13,721",+182,704,+7,"2,314","10,703",159,0,0,0,0,Africa
6,0,721,0,13,0,619,89,10,0,0,0,0,0
7,World,"1,722,850","+24,015","104,775","+2,091","389,292","1,228,783","49,969",221,13.4,0,0,All
8,USA,"503,177",+301,"18,761",+14,"27,314","457,102","10,917","1,520",57,"2,538,888","7,670",North America
9,Spain,"161,852","+3,579","16,353",+272,"59,109","86,390","7,371","3,462",350,"355,000","7,593",Europe
10,Italy,"147,577",0,"18,849",0,"30,455","98,273","3,497","2,441",312,"906,864","14,999",Europe
11,France,"124,869",0,"13,197",0,"24,932","86,740","7,004","1,913",202,"333,807","5,114",Europe
12,Germany,"122,855",+684,"2,736",0,"53,913","66,206","4,895","1,466",33,"1,317,887","15,730",Europe
13,UK,"78,991","+5,233","9,875",+917,344,"68,772","1,559","1,164",145,"334,974","4,934",Europe
14,Iran,"70,029","+1,837","4,357",+125,"41,947","23,725","3,987",834,52,"251,703","2,997",Asia
15,Turkey,"47,029",0,"1,006",0,"2,423","43,600","1,667",558,12,"307,210","3,643",Asia
16,Belgium,"28,018","+1,351","3,346",+327,"5,986","18,686","1,262","2,418",289,"102,151","8,814",Europe
17,Switzerland,"24,900",+349,"1,003",+1,"11,100","12,797",386,"2,877",116,"190,000","21,954",Europe
18,Netherlands,"24,413","+1,316","2,643",+132,250,"21,520","1,424","1,425",154,"101,534","5,926",Europe
19,Canada,"22,148",0,569,0,"6,013","15,566",557,587,15,"383,322","10,156",North America
20,Brazil,"19,943",+154,"1,074",+6,173,"18,696",296,94,5,"62,985",296,South America
21,Portugal,"15,987",+515,470,+35,266,"15,251",233,"1,568",46,"140,863","13,815",Europe
22,Austria,"13,782",+222,337,+18,"6,604","6,841",246,"1,530",37,"140,975","15,653",Europe
23,Russia,"13,584","+1,667",106,+12,"1,045","12,433",8,93,0.7,"1,184,442","8,116",Europe
24,Israel,"10,525",+117,96,+1,"1,258","9,171",180,"1,216",11,"117,339","13,557",Asia
25,S. Korea,"10,480",+30,211,+3,"7,243","3,026",55,204,4,"510,479","9,957",Asia
26,Sweden,"10,151",+466,887,+17,381,"8,883",774,"1,005",88,"54,700","5,416",Europe
27,Ireland,"8,089",0,287,0,25,"7,777",194,"1,638",58,"53,000","10,734",Europe
28,India,"7,997",+397,249,0,774,"6,974",0,6,0.2,"189,111",137,Asia
29,Ecuador,"7,161",0,297,0,368,"6,496",171,406,17,"21,568","1,222",South America
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Greenland,11,0,0,0,11,0,0,194,0,770,"13,564",North America
191,Seychelles,11,0,0,0,0,11,0,112,0,0,0,Africa
192,Belize,10,0,2,0,0,8,1,25,5,364,915,North America
193,Suriname,10,0,1,0,4,5,0,17,2,0,0,South America
194,MS Zaandam,9,0,2,0,0,7,0,0,0,0,0,0
195,Nepal,9,0,0,0,1,8,0,0.3,0,"3,524",121,Asia
196,Montserrat,9,0,0,0,0,9,1,"1,803",0,36,"7,212",North America
197,Cabo Verde,8,+1,1,0,1,6,0,14,2,0,0,Africa
198,Nicaragua,8,+1,1,0,0,7,0,1,0.2,0,0,North America
199,Turks and Caicos,8,0,1,0,0,7,0,207,26,61,"1,576",North America
200,CAR,8,0,0,0,0,8,0,2,0,0,0,Africa
201,Vatican City,8,0,0,0,2,6,0,"9,988",0,0,0,Europe
202,Sierra Leone,8,0,0,0,0,8,0,1,0,0,0,Africa
203,Mauritania,7,0,1,0,2,4,0,2,0.2,380,82,Africa
204,St. Barth,6,0,0,0,1,5,0,607,0,0,0,North America
205,Bhutan,5,0,0,0,2,3,0,6,0,"1,166","1,511",Asia
206,Falkland Islands,5,0,0,0,1,4,0,"1,437",0,137,"39,368",South America
207,Gambia,4,0,1,0,2,1,0,2,0.4,0,0,Africa
208,Sao Tome and Principe,4,0,0,0,0,4,0,18,0,19,87,Africa
209,South Sudan,4,0,0,0,0,4,0,0.4,0,0,0,Africa
210,Western Sahara,4,0,0,0,0,4,0,7,0,0,0,Africa
211,Anguilla,3,0,0,0,0,3,0,200,0,0,0,North America
212,British Virgin Islands,3,0,0,0,2,1,0,99,0,0,0,North America
213,Burundi,3,0,0,0,0,3,0,0.3,0,0,0,Africa
214,Caribbean Netherlands,2,0,0,0,0,2,0,76,0,10,381,North America
215,Papua New Guinea,2,0,0,0,0,2,0,0.2,0,72,8,Australia/Oceania
216,Timor-Leste,2,0,0,0,1,1,0,2,0,0,0,Asia
217,Saint Pierre Miquelon,1,0,0,0,0,1,0,173,0,0,0,North America
218,Yemen,1,0,0,0,0,1,0,0.03,0,0,0,Asia
219,China,"81,953",+46,"3,339",+3,"77,525","1,089",141,57,2,0,0,Asia

In [7]:
## Elimina los signos que impiden convertir a número

df['Total Cases'] = df['Total Cases'].str.replace(',', '')
df['New Cases'] = df['New Cases'].str.replace('+', '')
df['New Cases'] = df['New Cases'].str.replace(',', '')
df['Total Deaths'] = df['Total Deaths'].str.replace(',', '')
df['New Deaths'] = df['New Deaths'].str.replace('+', '')
df['New Deaths'] = df['New Deaths'].str.replace(',', '')
df['Total Recovered'] = df['Total Recovered'].str.replace(',', '')
df['Active Cases'] = df['Active Cases'].str.replace(',', '')
df['Serious, Critical'] = df['Serious, Critical'].str.replace(',', '')
df['Tot Cases/1M pop'] = df['Tot Cases/1M pop'].str.replace(',', '')
df['Tot Deaths/1M pop'] = df['Tot Deaths/1M pop'].str.replace(',', '')

## Elimina los NaN para valores nulos y los sustituye por ceros
df.fillna(0, inplace=True)

In [8]:
# muestra los tipos de dato que de momento todo son object
df.dtypes

Country              object
Total Cases          object
New Cases            object
Total Deaths         object
New Deaths           object
Total Recovered      object
Active Cases         object
Serious, Critical    object
Tot Cases/1M pop     object
Tot Deaths/1M pop    object
Total Tests          object
Tests/1M pop         object
Region               object
dtype: object

In [9]:
# cambia los tipos de dato del dataframe, para poder enviar el dataframe eventualmente a una base de datos.
# en caso de enviarlo a un csv, este paso no tiene tanto impacto, sin embargo si queremos hacer operaciones con el
# dataframe, lo mejor es tener las columas declaradas en el formato correcto:

df = df.astype({"Total Cases": int})
df = df.astype({"New Cases": int})
df = df.astype({"Total Deaths": int})
df = df.astype({"New Deaths": int})
df = df.astype({"Total Recovered": int})
df = df.astype({"Active Cases": int})
df = df.astype({"Serious, Critical": int})
df = df.astype({"Tot Cases/1M pop": float})
df = df.astype({"Tot Deaths/1M pop": float})

# vemos que se han convertido correctamente
df.dtypes

Country               object
Total Cases            int32
New Cases              int32
Total Deaths           int32
New Deaths             int32
Total Recovered        int32
Active Cases           int32
Serious, Critical      int32
Tot Cases/1M pop     float64
Tot Deaths/1M pop    float64
Total Tests           object
Tests/1M pop          object
Region                object
dtype: object

In [10]:
# Removemos columnas y líneas no utilizadas
# es importante señalar que para este caso, he decidido quitar estas columnas, porque el scraping del covid está
# teniendo mucho movimiento porque al tratarse de un tema de interés mundial, la página fuente altera la tabla constantemente
# para aportar más información y en nuestra párctica no toda la información es relavante

# elimino 3 columnas que no estaban en el código inicial.
# en casos futuros, si 

# quita las columnas no utilizadas.
del df['Total Tests']
del df['Tests/1M pop']
del df['Region']

# y quita las líneas no utilizadas que corresponden a agrupaciones y sumas que se pueden hacer por otros medios.
# si las dejamos enviará valores duplicados al hacer sumas.

i = 0
while i < 8:
  df.drop(df.index[0],inplace=True)
  i += 1

# mostramos y validamos la tabla en formato final
df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Tot Deaths/1M pop
8,USA,503177,301,18761,14,27314,457102,10917,1520.00,57.0
9,Spain,161852,3579,16353,272,59109,86390,7371,3462.00,350.0
10,Italy,147577,0,18849,0,30455,98273,3497,2441.00,312.0
11,France,124869,0,13197,0,24932,86740,7004,1913.00,202.0
12,Germany,122855,684,2736,0,53913,66206,4895,1466.00,33.0
13,UK,78991,5233,9875,917,344,68772,1559,1164.00,145.0
14,Iran,70029,1837,4357,125,41947,23725,3987,834.00,52.0
15,Turkey,47029,0,1006,0,2423,43600,1667,558.00,12.0
16,Belgium,28018,1351,3346,327,5986,18686,1262,2418.00,289.0
17,Switzerland,24900,349,1003,1,11100,12797,386,2877.00,116.0
18,Netherlands,24413,1316,2643,132,250,21520,1424,1425.00,154.0
19,Canada,22148,0,569,0,6013,15566,557,587.00,15.0
20,Brazil,19943,154,1074,6,173,18696,296,94.00,5.0
21,Portugal,15987,515,470,35,266,15251,233,1568.00,46.0
22,Austria,13782,222,337,18,6604,6841,246,1530.00,37.0
23,Russia,13584,1667,106,12,1045,12433,8,93.00,0.7
24,Israel,10525,117,96,1,1258,9171,180,1216.00,11.0
25,S. Korea,10480,30,211,3,7243,3026,55,204.00,4.0
26,Sweden,10151,466,887,17,381,8883,774,1005.00,88.0
27,Ireland,8089,0,287,0,25,7777,194,1638.00,58.0
28,India,7997,397,249,0,774,6974,0,6.00,0.2
29,Ecuador,7161,0,297,0,368,6496,171,406.00,17.0
30,Chile,6501,0,65,0,1571,4865,70,340.00,3.0
31,Norway,6360,46,114,1,32,6214,67,1173.00,21.0
32,Australia,6303,65,56,2,3265,2982,80,247.00,2.0
33,Poland,6088,133,195,14,375,5518,160,161.00,5.0
34,Japan,6005,0,99,0,762,5144,109,47.00,0.8
35,Denmark,5996,177,260,13,1955,3781,106,1035.00,45.0
36,Romania,5990,523,282,12,758,4950,208,311.00,15.0
37,Peru,5897,0,169,0,1569,4159,130,179.00,5.0
...,...,...,...,...,...,...,...,...,...,...
190,Greenland,11,0,0,0,11,0,0,194.00,0.0
191,Seychelles,11,0,0,0,0,11,0,112.00,0.0
192,Belize,10,0,2,0,0,8,1,25.00,5.0
193,Suriname,10,0,1,0,4,5,0,17.00,2.0
194,MS Zaandam,9,0,2,0,0,7,0,0.00,0.0
195,Nepal,9,0,0,0,1,8,0,0.30,0.0
196,Montserrat,9,0,0,0,0,9,1,1803.00,0.0
197,Cabo Verde,8,1,1,0,1,6,0,14.00,2.0
198,Nicaragua,8,1,1,0,0,7,0,1.00,0.2
199,Turks and Caicos,8,0,1,0,0,7,0,207.00,26.0
200,CAR,8,0,0,0,0,8,0,2.00,0.0
201,Vatican City,8,0,0,0,2,6,0,9988.00,0.0
202,Sierra Leone,8,0,0,0,0,8,0,1.00,0.0
203,Mauritania,7,0,1,0,2,4,0,2.00,0.2
204,St. Barth,6,0,0,0,1,5,0,607.00,0.0
205,Bhutan,5,0,0,0,2,3,0,6.00,0.0
206,Falkland Islands,5,0,0,0,1,4,0,1437.00,0.0
207,Gambia,4,0,1,0,2,1,0,2.00,0.4
208,Sao Tome and Principe,4,0,0,0,0,4,0,18.00,0.0
209,South Sudan,4,0,0,0,0,4,0,0.40,0.0
210,Western Sahara,4,0,0,0,0,4,0,7.00,0.0
211,Anguilla,3,0,0,0,0,3,0,200.00,0.0
212,British Virgin Islands,3,0,0,0,2,1,0,99.00,0.0
213,Burundi,3,0,0,0,0,3,0,0.30,0.0
214,Caribbean Netherlands,2,0,0,0,0,2,0,76.00,0.0
215,Papua New Guinea,2,0,0,0,0,2,0,0.20,0.0
216,Timor-Leste,2,0,0,0,1,1,0,2.00,0.0
217,Saint Pierre Miquelon,1,0,0,0,0,1,0,173.00,0.0
218,Yemen,1,0,0,0,0,1,0,0.03,0.0
219,China,81953,46,3339,3,77525,1089,141,57.00,2.0

## Sección 3: Comprobaciones y envío a fichero

En esta sección se comprueba que los valores son correctos vs la fuente y se envían los datos a un fichero CSV para su posterior uso, en otras herramientas de análisis, visualización o predicción.

In [11]:
## Pone el resumen de datos para validar que efectivamente es correcto con respecto a la página fuente

Total_Cases= df['Total Cases'].sum()
Total_Deaths= df['Total Deaths'].sum()
Total_Recovered = df['Total Recovered'].sum()


print ("Total Cases=",Total_Cases)
print ("Total Deaths=",Total_Deaths)
print ("Total Recovered=",Total_Recovered)

Total Cases= 1722850
Total Deaths= 104775
Total Recovered= 389292

In [12]:
## Exporta a fichero .CSV

#reemplazar <path> por el directorio al cual se enviará la lista

df.to_csv('<path>/countries.csv')