# Web Scraping

Conexión a la web de conteo de Coronavirus detallada por país:
https://www.worldometers.info/coronavirus/

Se utilizará Beautiful Soup para hacer el Web Scraping, buscando la tabla de datos
Pandas para pasar la información a un dataframe y ajustar la información para poder enviarla a un fichero CSV o bien enviarla a una base de datos que se vaya actualizando cada determinado tiempo.

In [61]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [62]:
from bs4 import BeautifulSoup as soup
from requests import get
my_url = "https://www.worldometers.info/coronavirus/"

pageHTML = get(my_url)

In [63]:
soup = soup(pageHTML.text)

In [64]:
soup.text[:1000]

'\n\n\n\n\n\nCoronavirus Update (Live): 1,524,375 Cases and 88,965 Deaths from COVID-19 Virus Pandemic - Worldometer\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\t\t$.extend( $.fn.dataTable.defaults, {\n    responsive: true\n} );\n\t\n\t$(document).ready(function() {\n    $(\'#example2\').dataTable( {\n        "scrollCollapse": true,\n\t\t"sDom": \'<"bottom"flp><"clear">\',\n        "paging":         false\n    } );\n} );\n\t\n\n\t\t$.extend( $.fn.dataTable.defaults, {\n    responsive: true\n} );\n\t\n\t$(document).ready(function() {\n    $(\'#table3\').dataTable( {\n        "scrollCollapse": true,\n\t\t\t\t "order": [[ 1, \'desc\' ]],\n\t\t"sDom": \'<"bottom"flp><"clear">\',\n        "paging":         false\n    } );\n} );\n\t\n\n\t\t$.extend( $.fn.dataTable.defaults, {\n    responsive: true\n} );\n\t\n\t$(document).ready(function() {\n    $(\'#example\').dataTable( {\n        "scrollCollapse": true,\n\t\t"searching": false,\n\n\t\t"sDom": \'<"top">rt<"bottom"flp><"clear">\',\n        "paging":         false\n    } );\n} );\n\t\n\n$(document).ready(function() {\n\t$(\'#popbycountry\').data'

In [98]:
data = []
table = soup.find('table')
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append(cols) # Get rid of empty values
    
print (data)

[['North America', '464,888', '+670', '15,678', '+51', '28,522', '420,688', '10,230', '', '', '', '', 'North America'], ['Europe', '748,925', '+4,009', '61,636', '+370', '169,841', '517,448', '30,152', '', '', '', '', 'Europe'], ['Asia', '254,827', '+1,518', '9,608', '+80', '125,580', '119,639', '6,447', '', '', '', '', 'Asia'], ['South America', '35,528', '+66', '1,399', '+5', '3,529', '30,600', '1,118', '', '', '', '', 'South America'], ['Oceania', '7,429', '+81', '52', '+1', '3,305', '4,072', '85', '', '', '', '', 'Australia/Oceania'], ['Africa', '12,057', '+71', '579', '+3', '1,473', '10,005', '142', '', '', '', '', 'Africa'], ['', '721', '', '13', '', '619', '89', '10', '', '', '', '', ''], ['World', '1,524,375', '+6,415', '88,965', '+510', '332,869', '1,102,541', '48,184', '196', '11.4', '', '', 'All'], ['USA', '435,160', '+233', '14,797', '+9', '22,891', '397,472', '9,279', '1,315', '45', '2,226,116', '6,725', 'North America'], ['Spain', '148,220', '', '14,792', '', '48,021', '85,407', '7,069', '3,170', '316', '355,000', '7,593', 'Europe'], ['Italy', '139,422', '', '17,669', '', '26,491', '95,262', '3,693', '2,306', '292', '807,125', '13,349', 'Europe'], ['Germany', '113,296', '', '2,349', '', '46,300', '64,647', '4,895', '1,352', '28', '1,317,887', '15,730', 'Europe'], ['France', '112,950', '', '10,869', '', '21,254', '80,827', '7,148', '1,730', '167', '224,254', '3,436', 'Europe'], ['Iran', '64,586', '', '3,993', '', '29,812', '30,781', '3,987', '769', '48', '211,136', '2,514', 'Asia'], ['UK', '60,733', '', '7,097', '', '135', '53,501', '1,559', '895', '105', '282,074', '4,155', 'Europe'], ['Turkey', '38,226', '', '812', '', '1,846', '35,568', '1,492', '453', '10', '247,768', '2,938', 'Asia'], ['Belgium', '24,983', '+1,580', '2,523', '+283', '5,164', '17,296', '1,285', '2,156', '218', '84,248', '7,269', 'Europe'], ['Switzerland', '23,404', '+124', '909', '+14', '9,800', '12,695', '391', '2,704', '105', '171,938', '19,867', 'Europe'], ['Netherlands', '20,549', '', '2,248', '', '250', '18,051', '1,424', '1,199', '131', '101,534', '5,926', 'Europe'], ['Canada', '19,438', '', '435', '+8', '4,653', '14,350', '518', '515', '12', '370,315', '9,812', 'North America'], ['Brazil', '16,195', '+7', '822', '+2', '127', '15,246', '296', '76', '4', '54,824', '258', 'South America'], ['Portugal', '13,141', '', '380', '', '196', '12,565', '245', '1,289', '37', '131,127', '12,860', 'Europe'], ['Austria', '13,011', '+69', '295', '+22', '5,240', '7,476', '266', '1,445', '33', '126,287', '14,022', 'Europe'], ['S. Korea', '10,423', '+39', '204', '+4', '6,973', '3,246', '55', '203', '4', '477,304', '9,310', 'Asia'], ['Russia', '10,131', '+1,459', '76', '+13', '698', '9,357', '8', '69', '0.5', '1,000,000', '6,852', 'Europe'], ['Israel', '9,755', '+351', '79', '+6', '864', '8,812', '165', '1,127', '9', '117,339', '13,557', 'Asia'], ['Sweden', '8,419', '', '687', '', '205', '7,527', '678', '834', '68', '54,700', '5,416', 'Europe'], ['Australia', '6,104', '+52', '51', '+1', '2,987', '3,066', '81', '239', '2', '330,134', '12,946', 'Australia/Oceania'], ['Ireland', '6,074', '', '235', '', '25', '5,814', '165', '1,230', '48', '42,484', '8,604', 'Europe'], ['Norway', '6,042', '', '101', '', '32', '5,909', '78', '1,115', '19', '113,896', '21,009', 'Europe'], ['India', '5,916', '', '178', '', '506', '5,232', '', '4', '0.1', '167,235', '121', 'Asia'], ['Chile', '5,546', '', '48', '', '1,115', '4,383', '362', '290', '3', '60,391', '3,159', 'South America'], ['Denmark', '5,402', '', '218', '', '1,621', '3,563', '127', '933', '38', '64,002', '11,050', 'Europe'], ['Poland', '5,341', '+136', '164', '+5', '284', '4,893', '160', '141', '4', '99,284', '2,623', 'Europe'], ['Czechia', '5,335', '+23', '104', '+5', '243', '4,988', '96', '498', '10', '106,845', '9,977', 'Europe'], ['Romania', '4,761', '', '229', '+9', '528', '4,004', '162', '247', '12', '47,207', '2,454', 'Europe'], ['Japan', '4,667', '', '94', '', '632', '3,941', '99', '37', '0.7', '61,498', '486', 'Asia'], ['Ecuador', '4,450', '', '242', '', '140', '4,068', '146', '252', '14', '14,406', '817', 'South America'], ['Pakistan', '4,414', '+151', '63', '+2', '572', '3,779', '31', '20', '0.3', '44,896', '203', 'Asia'], ['Peru', '4,342', '', '121', '', '1,333', '2,888', '113', '132', '4', '39,599', '1,201', 'South America'], ['Malaysia', '4,228', '+109', '67', '+2', '1,608', '2,553', '72', '131', '2', '58,240', '1,799', 'Asia'], ['Philippines', '4,076', '+206', '203', '+21', '124', '3,749', '1', '37', '2', '24,500', '224', 'Asia'], ['Indonesia', '3,293', '+337', '280', '+40', '252', '2,761', '', '12', '1', '14,354', '52', 'Asia'], ['Mexico', '3,181', '+396', '174', '+33', '633', '2,374', '89', '25', '1', '25,410', '197', 'North America'], ['Luxembourg', '3,034', '', '46', '', '500', '2,488', '34', '4,847', '73', '26,573', '42,450', 'Europe'], ['Saudi Arabia', '2,932', '', '41', '', '631', '2,260', '41', '84', '1', '', '', 'Asia'], ['Serbia', '2,666', '', '65', '', '118', '2,483', '112', '305', '7', '10,761', '1,232', 'Europe'], ['UAE', '2,659', '', '12', '', '239', '2,408', '1', '269', '1', '593,095', '59,967', 'Asia'], ['Finland', '2,605', '+118', '40', '', '300', '2,265', '82', '470', '7', '36,500', '6,588', 'Europe'], ['Panama', '2,528', '', '63', '', '16', '2,449', '101', '586', '15', '11,776', '2,729', 'North America'], ['Thailand', '2,423', '+54', '32', '+2', '940', '1,451', '61', '35', '0.5', '71,860', '1,030', 'Asia'], ['Qatar', '2,210', '', '6', '', '178', '2,026', '37', '767', '2', '41,818', '14,515', 'Asia'], ['Dominican Republic', '2,111', '', '108', '', '50', '1,953', '147', '195', '10', '4,542', '419', 'North America'], ['Colombia', '2,054', '', '55', '', '123', '1,876', '76', '40', '1', '33,575', '660', 'South America'], ['Ukraine', '1,892', '+224', '57', '+5', '45', '1,790', '33', '43', '1', '20,608', '471', 'Europe'], ['Greece', '1,884', '', '83', '', '269', '1,532', '84', '181', '8', '32,528', '3,121', 'Europe'], ['South Africa', '1,845', '', '18', '', '95', '1,732', '7', '31', '0.3', '63,776', '1,075', 'Africa'], ['Argentina', '1,795', '', '65', '', '358', '1,372', '96', '40', '1', '13,330', '295', 'South America'], ['Singapore', '1,623', '', '6', '', '406', '1,211', '29', '277', '1', '65,000', '11,110', 'Asia'], ['Iceland', '1,616', '', '6', '', '633', '977', '13', '4,736', '18', '30,947', '90,689', 'Europe'], ['Algeria', '1,572', '', '205', '', '237', '1,130', '46', '36', '5', '3,359', '77', 'Africa'], ['Egypt', '1,560', '', '103', '', '305', '1,152', '', '15', '1', '25,000', '244', 'Africa'], ['Morocco', '1,346', '+71', '96', '+3', '103', '1,147', '1', '36', '3', '6,116', '166', 'Africa'], ['Croatia', '1,343', '', '19', '', '179', '1,145', '36', '327', '5', '13,125', '3,197', 'Europe'], ['New Zealand', '1,239', '+29', '1', '', '317', '921', '4', '257', '0.2', '51,165', '10,610', 'Australia/Oceania'], ['Estonia', '1,207', '+22', '24', '', '83', '1,100', '9', '910', '18', '26,416', '19,914', 'Europe'], ['Iraq', '1,202', '', '69', '', '452', '681', '', '30', '2', '28,414', '706', 'Asia'], ['Moldova', '1,174', '', '28', '+1', '43', '1,103', '80', '291', '7', '5,108', '1,266', 'Europe'], ['Slovenia', '1,124', '+33', '43', '+3', '128', '953', '34', '541', '21', '31,813', '15,303', 'Europe'], ['Belarus', '1,066', '', '13', '', '77', '976', '33', '113', '1', '46,000', '4,868', 'Europe'], ['Hungary', '980', '+85', '66', '+8', '96', '818', '17', '101', '7', '27,826', '2,880', 'Europe'], ['Hong Kong', '974', '+13', '4', '', '293', '677', '14', '130', '0.5', '96,709', '12,900', 'Asia'], ['Lithuania', '955', '+43', '15', '', '8', '932', '21', '351', '6', '32,809', '12,052', 'Europe'], ['Armenia', '921', '+40', '10', '+1', '138', '773', '30', '311', '3', '5,823', '1,965', 'Asia'], ['Kuwait', '910', '+55', '1', '', '111', '798', '21', '213', '0.2', '', '', 'Asia'], ['Bosnia and Herzegovina', '841', '+37', '35', '+1', '95', '711', '4', '256', '11', '6,911', '2,106', 'Europe'], ['Bahrain', '823', '', '5', '', '477', '341', '3', '484', '3', '52,351', '30,766', 'Asia'], ['Azerbaijan', '822', '', '8', '', '63', '751', '23', '81', '0.8', '53,300', '5,257', 'Asia'], ['Kazakhstan', '764', '+37', '7', '', '55', '702', '21', '41', '0.4', '59,371', '3,162', 'Asia'], ['Cameroon', '730', '', '10', '', '60', '660', '', '27', '0.4', '', '', 'Africa'], ['Diamond Princess', '712', '', '11', '', '619', '82', '10', '', '', '', '', ''], ['Slovakia', '682', '', '2', '', '16', '664', '3', '125', '0.4', '19,681', '3,605', 'Europe'], ['Tunisia', '628', '', '24', '', '25', '579', '67', '53', '2', '8,878', '751', 'Africa'], ['North Macedonia', '617', '', '29', '', '35', '553', '15', '296', '14', '6,230', '2,990', 'Europe'], ['Bulgaria', '611', '+18', '24', '', '48', '539', '27', '88', '3', '15,899', '2,288', 'Europe'], ['Latvia', '589', '+12', '2', '', '16', '571', '3', '312', '1', '25,458', '13,497', 'Europe'], ['Lebanon', '576', '', '19', '', '62', '495', '29', '84', '3', '10,808', '1,583', 'Asia'], ['Andorra', '564', '', '23', '', '52', '489', '17', '7,300', '298', '1,673', '21,653', 'Europe'], ['Uzbekistan', '555', '+10', '3', '', '30', '522', '8', '17', '0.09', '', '', 'Asia'], ['Cyprus', '526', '', '9', '', '52', '465', '13', '436', '7', '14,273', '11,822', 'Asia'], ['Costa Rica', '502', '', '3', '', '29', '470', '15', '99', '0.6', '6,035', '1,185', 'North America'], ['Cuba', '457', '', '12', '', '27', '418', '15', '40', '1', '9,410', '831', 'North America'], ['Oman', '457', '+38', '2', '', '109', '346', '3', '89', '0.4', '', '', 'Asia'], ['Uruguay', '456', '', '7', '', '192', '257', '14', '131', '2', '6,175', '1,778', 'South America'], ['Afghanistan', '444', '', '14', '', '29', '401', '', '11', '0.4', '', '', 'Asia'], ['Burkina Faso', '414', '', '23', '', '134', '257', '', '20', '1', '', '', 'Africa'], ['Albania', '409', '+9', '22', '', '165', '222', '7', '142', '8', '3,223', '1,120', 'Europe'], ['Ivory Coast', '384', '', '3', '', '48', '333', '', '15', '0.1', '', '', 'Africa'], ['Taiwan', '380', '+1', '5', '', '80', '295', '', '16', '0.2', '42,315', '1,777', 'Asia'], ['Réunion', '362', '', '', '', '40', '322', '4', '404', '', '', '', 'Africa'], ['Jordan', '358', '', '6', '', '150', '202', '5', '35', '0.6', '17,000', '1,666', 'Asia'], ['Channel Islands', '351', '', '8', '', '38', '305', '', '2,019', '46', '1,157', '6,655', 'Europe'], ['Honduras', '343', '+31', '23', '+1', '6', '314', '10', '35', '2', '', '', 'North America'], ['Niger', '342', '', '11', '', '28', '303', '', '14', '0.5', '4,199', '173', 'Africa'], ['Ghana', '313', '', '6', '', '34', '273', '2', '10', '0.2', '', '', 'Africa'], ['San Marino', '308', '', '34', '', '45', '229', '14', '9,077', '1,002', '722', '21,278', 'Europe'], ['Malta', '299', '', '2', '+1', '16', '281', '4', '677', '5', '12,731', '28,833', 'Europe'], ['Kyrgyzstan', '280', '+10', '4', '', '35', '241', '5', '43', '0.6', '9,618', '1,474', 'Asia'], ['Nigeria', '276', '', '6', '', '44', '226', '2', '1', '0.03', '5,000', '24', 'Africa'], ['Mauritius', '273', '', '7', '', '19', '247', '3', '215', '6', '4,913', '3,863', 'Africa'], ['Bolivia', '264', '+54', '18', '+3', '2', '244', '3', '23', '2', '591', '51', 'South America'], ['Palestine', '263', '', '1', '', '44', '218', '', '52', '0.2', '15,450', '3,029', 'Asia'], ['Montenegro', '252', '+4', '2', '', '4', '246', '7', '401', '3', '2,329', '3,708', 'Europe'], ['Vietnam', '251', '', '', '', '128', '123', '8', '3', '', '110,124', '1,131', 'Asia'], ['Senegal', '244', '', '2', '', '113', '129', '1', '15', '0.1', '', '', 'Africa'], ['Bangladesh', '218', '', '20', '', '33', '165', '1', '1', '0.1', '5,164', '31', 'Asia'], ['Georgia', '214', '+3', '3', '', '50', '161', '6', '54', '0.8', '3,271', '820', 'Asia'], ['Sri Lanka', '189', '', '7', '', '47', '135', '5', '9', '0.3', '3,248', '152', 'Asia'], ['Mayotte', '184', '', '2', '', '22', '160', '3', '674', '7', '1,100', '4,032', 'Africa'], ['Faeroe Islands', '184', '', '', '', '136', '48', '', '3,766', '', '5,299', '108,446', 'Europe'], ['DRC', '180', '', '18', '', '9', '153', '', '2', '0.2', '', '', 'Africa'], ['Kenya', '179', '', '6', '', '9', '164', '2', '3', '0.1', '4,973', '92', 'Africa'], ['Isle of Man', '171', '+13', '1', '', '88', '82', '10', '2,011', '12', '1,831', '21,533', 'Europe'], ['Venezuela', '167', '', '9', '', '65', '93', '6', '6', '0.3', '1,779', '63', 'South America'], ['Guinea', '164', '', '', '', '5', '159', '', '12', '', '', '', 'Africa'], ['Martinique', '154', '', '6', '', '50', '98', '19', '410', '16', '', '', 'North America'], ['Guadeloupe', '141', '', '8', '', '43', '90', '13', '352', '20', '', '', 'North America'], ['Brunei', '135', '', '1', '', '91', '43', '3', '309', '2', '8,845', '20,218', 'Asia'], ['Djibouti', '135', '', '', '', '25', '110', '', '137', '', '3,106', '3,144', 'Africa'], ['Paraguay', '124', '+5', '5', '', '18', '101', '1', '17', '0.7', '2,039', '286', 'South America'], ['Gibraltar', '120', '', '', '', '60', '60', '', '3,562', '', '1,481', '43,958', 'Europe'], ['Cambodia', '117', '', '', '', '63', '54', '1', '7', '', '5,768', '345', 'Asia'], ['Rwanda', '110', '', '', '', '7', '103', '', '8', '', '806', '62', 'Africa'], ['Trinidad and Tobago', '107', '', '8', '', '1', '98', '', '76', '6', '974', '696', 'North America'], ['El Salvador', '103', '+10', '5', '', '10', '88', '3', '16', '0.8', '', '', 'North America'], ['Madagascar', '93', '', '', '', '11', '82', '1', '3', '', '', '', 'Africa'], ['Guatemala', '87', '', '3', '', '17', '67', '3', '5', '0.2', '1,134', '63', 'North America'], ['French Guiana', '83', '', '', '', '43', '40', '1', '278', '', '', '', 'South America'], ['Monaco', '81', '', '1', '', '4', '76', '4', '2,064', '25', '', '', 'Europe'], ['Liechtenstein', '78', '', '1', '', '55', '22', '', '2,046', '26', '900', '23,605', 'Europe'], ['Aruba', '77', '', '', '', '14', '63', '', '721', '', '990', '9,273', 'North America'], ['Togo', '70', '', '3', '', '23', '44', '', '8', '0.4', '1,747', '211', 'Africa'], ['Jamaica', '63', '', '4', '', '10', '49', '', '21', '1', '907', '306', 'North America'], ['Barbados', '63', '', '3', '', '8', '52', '4', '219', '10', '655', '2,279', 'North America'], ['Mali', '59', '', '7', '', '16', '36', '', '3', '0.3', '', '', 'Africa'], ['Ethiopia', '55', '', '2', '', '4', '49', '1', '0.5', '0.02', '2,496', '22', 'Africa'], ['Uganda', '53', '', '', '', '', '53', '', '1', '', '3,310', '72', 'Africa'], ['French Polynesia', '51', '', '', '', '', '51', '', '182', '', '744', '2,649', 'Australia/Oceania'], ['Congo', '45', '', '5', '', '2', '38', '', '8', '0.9', '', '', 'Africa'], ['Cayman Islands', '45', '', '1', '', '6', '38', '', '685', '15', '479', '7,288', 'North America'], ['Macao', '45', '', '', '', '10', '35', '1', '69', '', '', '', 'Asia'], ['Bahamas', '40', '', '7', '', '5', '28', '1', '102', '18', '', '', 'North America'], ['Sint Maarten', '40', '', '6', '', '1', '33', '2', '933', '140', '112', '2,612', 'North America'], ['Bermuda', '39', '', '3', '', '23', '13', '', '626', '48', '315', '5,058', 'North America'], ['Zambia', '39', '', '1', '', '7', '31', '1', '2', '0.05', '1,239', '67', 'Africa'], ['Guyana', '37', '', '6', '', '8', '23', '4', '47', '8', '145', '184', 'South America'], ['Gabon', '34', '', '1', '', '1', '32', '', '15', '0.4', '', '', 'Africa'], ['Eritrea', '33', '', '', '', '', '33', '', '9', '', '', '', 'Africa'], ['Guinea-Bissau', '33', '', '', '', '', '33', '', '17', '', '', '', 'Africa'], ['Saint Martin', '32', '', '2', '', '7', '23', '6', '828', '52', '', '', 'North America'], ['Liberia', '31', '', '4', '', '3', '24', '', '6', '0.8', '', '', 'Africa'], ['Haiti', '27', '', '1', '', '', '26', '', '2', '0.09', '257', '23', 'North America'], ['Benin', '26', '', '1', '', '5', '20', '', '2', '0.08', '', '', 'Africa'], ['Tanzania', '25', '', '1', '', '5', '19', '', '0.4', '0.02', '', '', 'Africa'], ['Myanmar', '22', '', '3', '', '1', '18', '', '0.4', '0.06', '1,246', '23', 'Asia'], ['Libya', '21', '', '1', '', '8', '12', '', '3', '0.1', '355', '52', 'Africa'], ['Angola', '19', '', '2', '', '2', '15', '', '0.6', '0.06', '', '', 'Africa'], ['Antigua and Barbuda', '19', '', '2', '', '', '17', '1', '194', '20', '40', '408', 'North America'], ['Syria', '19', '', '2', '', '4', '13', '', '1', '0.1', '', '', 'Asia'], ['Maldives', '19', '', '', '', '13', '6', '', '35', '', '', '', 'Asia'], ['Equatorial Guinea', '18', '', '', '', '3', '15', '', '13', '', '854', '609', 'Africa'], ['New Caledonia', '18', '', '', '', '1', '17', '', '63', '', '2,320', '8,126', 'Australia/Oceania'], ['Mozambique', '17', '', '', '', '1', '16', '', '0.5', '', '467', '15', 'Africa'], ['Laos', '16', '+1', '', '', '', '16', '', '2', '', '903', '124', 'Asia'], ['Mongolia', '16', '', '', '', '4', '12', '', '5', '', '', '', 'Asia'], ['Namibia', '16', '', '', '', '3', '13', '', '6', '', '362', '142', 'Africa'], ['Dominica', '15', '', '', '', '1', '14', '', '208', '', '293', '4,070', 'North America'], ['Fiji', '15', '', '', '', '', '15', '', '17', '', '', '', 'Australia/Oceania'], ['Sudan', '14', '', '2', '', '2', '10', '', '0.3', '0.05', '', '', 'Africa'], ['Curaçao', '14', '', '1', '', '7', '6', '', '85', '6', '', '', 'North America'], ['Saint Lucia', '14', '', '', '', '1', '13', '', '76', '', '', '', 'North America'], ['Somalia', '12', '', '1', '', '1', '10', '', '0.8', '0.06', '', '', 'Africa'], ['Grenada', '12', '', '', '', '', '12', '2', '107', '', '45', '400', 'North America'], ['Eswatini', '12', '', '', '', '7', '5', '', '10', '', '', '', 'Africa'], ['Zimbabwe', '11', '', '3', '', '', '8', '', '0.7', '0.2', '371', '25', 'Africa'], ['Greenland', '11', '', '', '', '11', '0', '', '194', '', '770', '13,564', 'North America'], ['Saint Kitts and Nevis', '11', '', '', '', '', '11', '', '207', '', '183', '3,440', 'North America'], ['Seychelles', '11', '', '', '', '', '11', '', '112', '', '', '', 'Africa'], ['Suriname', '10', '', '1', '', '4', '5', '', '17', '2', '', '', 'South America'], ['Chad', '10', '', '', '', '2', '8', '', '0.6', '', '', '', 'Africa'], ['MS Zaandam', '9', '', '2', '', '', '7', '', '', '', '', '', ''], ['Nepal', '9', '', '', '', '1', '8', '', '0.3', '', '2,366', '81', 'Asia'], ['Montserrat', '9', '', '', '', '', '9', '1', '1,803', '', '36', '7,212', 'North America'], ['Belize', '8', '', '1', '', '', '7', '1', '20', '3', '334', '840', 'North America'], ['Malawi', '8', '', '1', '', '', '7', '1', '0.4', '0.05', '', '', 'Africa'], ['Turks and Caicos', '8', '', '1', '', '', '7', '', '207', '26', '61', '1,576', 'North America'], ['CAR', '8', '', '', '', '', '8', '', '2', '', '', '', 'Africa'], ['Vatican City', '8', '', '', '', '2', '6', '', '9,988', '', '', '', 'Europe'], ['St. Vincent Grenadines', '8', '', '', '', '1', '7', '', '72', '', '56', '505', 'North America'], ['Cabo Verde', '7', '', '1', '', '1', '5', '', '13', '2', '', '', 'Africa'], ['Sierra Leone', '7', '', '', '', '', '7', '', '0.9', '', '', '', 'Africa'], ['Botswana', '6', '', '1', '', '', '5', '', '3', '0.4', '1,154', '491', 'Africa'], ['Mauritania', '6', '', '1', '', '2', '3', '', '1', '0.2', '67', '14', 'Africa'], ['Nicaragua', '6', '', '1', '', '', '5', '', '0.9', '0.2', '', '', 'North America'], ['St. Barth', '6', '', '', '', '1', '5', '', '607', '', '', '', 'North America'], ['Bhutan', '5', '', '', '', '2', '3', '', '6', '', '1,166', '1,511', 'Asia'], ['Falkland Islands', '5', '', '', '', '1', '4', '', '1,437', '', '137', '39,368', 'South America'], ['Gambia', '4', '', '1', '', '2', '1', '', '2', '0.4', '', '', 'Africa'], ['Sao Tome and Principe', '4', '', '', '', '', '4', '', '18', '', '19', '87', 'Africa'], ['Western Sahara', '4', '', '', '', '', '4', '', '7', '', '', '', 'Africa'], ['Anguilla', '3', '', '', '', '', '3', '', '200', '', '', '', 'North America'], ['British Virgin Islands', '3', '', '', '', '', '3', '', '99', '', '', '', 'North America'], ['Burundi', '3', '', '', '', '', '3', '', '0.3', '', '', '', 'Africa'], ['Caribbean Netherlands', '2', '', '', '', '', '2', '', '76', '', '10', '381', 'North America'], ['Papua New Guinea', '2', '', '', '

In [99]:
missingData = []
fixedData = [[]]
for row in data:
    for index,col in enumerate(row):
        if(col == ''):
            row[index] = 0
        
    missingData.append(row)

In [100]:
##for row in missingData:
##    if not (len(row)== 8):
##        print('Missing Values')

In [101]:
headers = ["Country", "Total Cases", "New Cases", "Total Deaths","New Deaths", "Total Recovered", "Active Cases", "Serious, Critical", "Tot Cases/1M pop", "Tot Deaths/1M pop", "Total Tests", "Tests/1M pop", "Region"]

In [102]:
headers

['Country',
 'Total Cases',
 'New Cases',
 'Total Deaths',
 'New Deaths',
 'Total Recovered',
 'Active Cases',
 'Serious, Critical',
 'Tot Cases/1M pop',
 'Tot Deaths/1M pop',
 'Total Tests',
 'Tests/1M pop',
 'Region']

In [128]:
import pandas as pd
import numpy as np

df = pd.DataFrame()
df = df.append(data)
df.columns = headers

df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Tot Deaths/1M pop,Total Tests,Tests/1M pop,Region
0,North America,"464,888",+670,"15,678",+51,"28,522","420,688","10,230",0,0,0,0,North America
1,Europe,"748,925","+4,009","61,636",+370,"169,841","517,448","30,152",0,0,0,0,Europe
2,Asia,"254,827","+1,518","9,608",+80,"125,580","119,639","6,447",0,0,0,0,Asia
3,South America,"35,528",+66,"1,399",+5,"3,529","30,600","1,118",0,0,0,0,South America
4,Oceania,"7,429",+81,52,+1,"3,305","4,072",85,0,0,0,0,Australia/Oceania
5,Africa,"12,057",+71,579,+3,"1,473","10,005",142,0,0,0,0,Africa
6,0,721,0,13,0,619,89,10,0,0,0,0,0
7,World,"1,524,375","+6,415","88,965",+510,"332,869","1,102,541","48,184",196,11.4,0,0,All
8,USA,"435,160",+233,"14,797",+9,"22,891","397,472","9,279","1,315",45,"2,226,116","6,725",North America
9,Spain,"148,220",0,"14,792",0,"48,021","85,407","7,069","3,170",316,"355,000","7,593",Europe
10,Italy,"139,422",0,"17,669",0,"26,491","95,262","3,693","2,306",292,"807,125","13,349",Europe
11,Germany,"113,296",0,"2,349",0,"46,300","64,647","4,895","1,352",28,"1,317,887","15,730",Europe
12,France,"112,950",0,"10,869",0,"21,254","80,827","7,148","1,730",167,"224,254","3,436",Europe
13,Iran,"64,586",0,"3,993",0,"29,812","30,781","3,987",769,48,"211,136","2,514",Asia
14,UK,"60,733",0,"7,097",0,135,"53,501","1,559",895,105,"282,074","4,155",Europe
15,Turkey,"38,226",0,812,0,"1,846","35,568","1,492",453,10,"247,768","2,938",Asia
16,Belgium,"24,983","+1,580","2,523",+283,"5,164","17,296","1,285","2,156",218,"84,248","7,269",Europe
17,Switzerland,"23,404",+124,909,+14,"9,800","12,695",391,"2,704",105,"171,938","19,867",Europe
18,Netherlands,"20,549",0,"2,248",0,250,"18,051","1,424","1,199",131,"101,534","5,926",Europe
19,Canada,"19,438",0,435,+8,"4,653","14,350",518,515,12,"370,315","9,812",North America
20,Brazil,"16,195",+7,822,+2,127,"15,246",296,76,4,"54,824",258,South America
21,Portugal,"13,141",0,380,0,196,"12,565",245,"1,289",37,"131,127","12,860",Europe
22,Austria,"13,011",+69,295,+22,"5,240","7,476",266,"1,445",33,"126,287","14,022",Europe
23,S. Korea,"10,423",+39,204,+4,"6,973","3,246",55,203,4,"477,304","9,310",Asia
24,Russia,"10,131","+1,459",76,+13,698,"9,357",8,69,0.5,"1,000,000","6,852",Europe
25,Israel,"9,755",+351,79,+6,864,"8,812",165,"1,127",9,"117,339","13,557",Asia
26,Sweden,"8,419",0,687,0,205,"7,527",678,834,68,"54,700","5,416",Europe
27,Australia,"6,104",+52,51,+1,"2,987","3,066",81,239,2,"330,134","12,946",Australia/Oceania
28,Ireland,"6,074",0,235,0,25,"5,814",165,"1,230",48,"42,484","8,604",Europe
29,Norway,"6,042",0,101,0,32,"5,909",78,"1,115",19,"113,896","21,009",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Chad,10,0,0,0,2,8,0,0.6,0,0,0,Africa
190,MS Zaandam,9,0,2,0,0,7,0,0,0,0,0,0
191,Nepal,9,0,0,0,1,8,0,0.3,0,"2,366",81,Asia
192,Montserrat,9,0,0,0,0,9,1,"1,803",0,36,"7,212",North America
193,Belize,8,0,1,0,0,7,1,20,3,334,840,North America
194,Malawi,8,0,1,0,0,7,1,0.4,0.05,0,0,Africa
195,Turks and Caicos,8,0,1,0,0,7,0,207,26,61,"1,576",North America
196,CAR,8,0,0,0,0,8,0,2,0,0,0,Africa
197,Vatican City,8,0,0,0,2,6,0,"9,988",0,0,0,Europe
198,St. Vincent Grenadines,8,0,0,0,1,7,0,72,0,56,505,North America
199,Cabo Verde,7,0,1,0,1,5,0,13,2,0,0,Africa
200,Sierra Leone,7,0,0,0,0,7,0,0.9,0,0,0,Africa
201,Botswana,6,0,1,0,0,5,0,3,0.4,"1,154",491,Africa
202,Mauritania,6,0,1,0,2,3,0,1,0.2,67,14,Africa
203,Nicaragua,6,0,1,0,0,5,0,0.9,0.2,0,0,North America
204,St. Barth,6,0,0,0,1,5,0,607,0,0,0,North America
205,Bhutan,5,0,0,0,2,3,0,6,0,"1,166","1,511",Asia
206,Falkland Islands,5,0,0,0,1,4,0,"1,437",0,137,"39,368",South America
207,Gambia,4,0,1,0,2,1,0,2,0.4,0,0,Africa
208,Sao Tome and Principe,4,0,0,0,0,4,0,18,0,19,87,Africa
209,Western Sahara,4,0,0,0,0,4,0,7,0,0,0,Africa
210,Anguilla,3,0,0,0,0,3,0,200,0,0,0,North America
211,British Virgin Islands,3,0,0,0,0,3,0,99,0,0,0,North America
212,Burundi,3,0,0,0,0,3,0,0.3,0,0,0,Africa
213,Caribbean Netherlands,2,0,0,0,0,2,0,76,0,10,381,North America
214,Papua New Guinea,2,0,0,0,0,2,0,0.2,0,72,8,Australia/Oceania
215,South Sudan,2,0,0,0,0,2,0,0.2,0,0,0,Africa
216,Saint Pierre Miquelon,1,0,0,0,0,1,0,173,0,0,0,North America
217,Timor-Leste,1,0,0,0,0,1,0,0.8,0,0,0,Asia
218,China,"81,865",+63,"3,335",+2,"77,370","1,160",176,57,2,0,0,Asia

In [129]:
## Elimina los signos que impiden convertir a número

df['Total Cases'] = df['Total Cases'].str.replace(',', '')
df['New Cases'] = df['New Cases'].str.replace('+', '')
df['New Cases'] = df['New Cases'].str.replace(',', '')
df['Total Deaths'] = df['Total Deaths'].str.replace(',', '')
df['New Deaths'] = df['New Deaths'].str.replace('+', '')
df['New Deaths'] = df['New Deaths'].str.replace(',', '')
df['Total Recovered'] = df['Total Recovered'].str.replace(',', '')
df['Active Cases'] = df['Active Cases'].str.replace(',', '')
df['Serious, Critical'] = df['Serious, Critical'].str.replace(',', '')
df['Tot Cases/1M pop'] = df['Tot Cases/1M pop'].str.replace(',', '')
df['Tot Deaths/1M pop'] = df['Tot Deaths/1M pop'].str.replace(',', '')

In [130]:
## Elimina los NaN para valores nulos y los sustituye por ceros
df.fillna(0, inplace=True)

In [131]:
df.dtypes

Country              object
Total Cases          object
New Cases            object
Total Deaths         object
New Deaths           object
Total Recovered      object
Active Cases         object
Serious, Critical    object
Tot Cases/1M pop     object
Tot Deaths/1M pop    object
Total Tests          object
Tests/1M pop         object
Region               object
dtype: object

In [132]:
## cambia los tipos de dato del dataframe

df = df.astype({"Total Cases": int})
df = df.astype({"New Cases": int})
df = df.astype({"Total Deaths": int})
df = df.astype({"New Deaths": int})
df = df.astype({"Total Recovered": int})
df = df.astype({"Active Cases": int})
df = df.astype({"Serious, Critical": int})
df = df.astype({"Tot Cases/1M pop": float})
df = df.astype({"Tot Deaths/1M pop": float})

In [133]:
df.dtypes

Country               object
Total Cases            int32
New Cases              int32
Total Deaths           int32
New Deaths             int32
Total Recovered        int32
Active Cases           int32
Serious, Critical      int32
Tot Cases/1M pop     float64
Tot Deaths/1M pop    float64
Total Tests           object
Tests/1M pop          object
Region                object
dtype: object

In [134]:
## Muestra la tabla final

del df['Total Tests']
del df['Tests/1M pop']
del df['Region']

df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Tot Deaths/1M pop
0,North America,464888,670,15678,51,28522,420688,10230,0.0,0.00
1,Europe,748925,4009,61636,370,169841,517448,30152,0.0,0.00
2,Asia,254827,1518,9608,80,125580,119639,6447,0.0,0.00
3,South America,35528,66,1399,5,3529,30600,1118,0.0,0.00
4,Oceania,7429,81,52,1,3305,4072,85,0.0,0.00
5,Africa,12057,71,579,3,1473,10005,142,0.0,0.00
6,0,721,0,13,0,619,89,10,0.0,0.00
7,World,1524375,6415,88965,510,332869,1102541,48184,196.0,11.40
8,USA,435160,233,14797,9,22891,397472,9279,1315.0,45.00
9,Spain,148220,0,14792,0,48021,85407,7069,3170.0,316.00
10,Italy,139422,0,17669,0,26491,95262,3693,2306.0,292.00
11,Germany,113296,0,2349,0,46300,64647,4895,1352.0,28.00
12,France,112950,0,10869,0,21254,80827,7148,1730.0,167.00
13,Iran,64586,0,3993,0,29812,30781,3987,769.0,48.00
14,UK,60733,0,7097,0,135,53501,1559,895.0,105.00
15,Turkey,38226,0,812,0,1846,35568,1492,453.0,10.00
16,Belgium,24983,1580,2523,283,5164,17296,1285,2156.0,218.00
17,Switzerland,23404,124,909,14,9800,12695,391,2704.0,105.00
18,Netherlands,20549,0,2248,0,250,18051,1424,1199.0,131.00
19,Canada,19438,0,435,8,4653,14350,518,515.0,12.00
20,Brazil,16195,7,822,2,127,15246,296,76.0,4.00
21,Portugal,13141,0,380,0,196,12565,245,1289.0,37.00
22,Austria,13011,69,295,22,5240,7476,266,1445.0,33.00
23,S. Korea,10423,39,204,4,6973,3246,55,203.0,4.00
24,Russia,10131,1459,76,13,698,9357,8,69.0,0.50
25,Israel,9755,351,79,6,864,8812,165,1127.0,9.00
26,Sweden,8419,0,687,0,205,7527,678,834.0,68.00
27,Australia,6104,52,51,1,2987,3066,81,239.0,2.00
28,Ireland,6074,0,235,0,25,5814,165,1230.0,48.00
29,Norway,6042,0,101,0,32,5909,78,1115.0,19.00
...,...,...,...,...,...,...,...,...,...,...
189,Chad,10,0,0,0,2,8,0,0.6,0.00
190,MS Zaandam,9,0,2,0,0,7,0,0.0,0.00
191,Nepal,9,0,0,0,1,8,0,0.3,0.00
192,Montserrat,9,0,0,0,0,9,1,1803.0,0.00
193,Belize,8,0,1,0,0,7,1,20.0,3.00
194,Malawi,8,0,1,0,0,7,1,0.4,0.05
195,Turks and Caicos,8,0,1,0,0,7,0,207.0,26.00
196,CAR,8,0,0,0,0,8,0,2.0,0.00
197,Vatican City,8,0,0,0,2,6,0,9988.0,0.00
198,St. Vincent Grenadines,8,0,0,0,1,7,0,72.0,0.00
199,Cabo Verde,7,0,1,0,1,5,0,13.0,2.00
200,Sierra Leone,7,0,0,0,0,7,0,0.9,0.00
201,Botswana,6,0,1,0,0,5,0,3.0,0.40
202,Mauritania,6,0,1,0,2,3,0,1.0,0.20
203,Nicaragua,6,0,1,0,0,5,0,0.9,0.20
204,St. Barth,6,0,0,0,1,5,0,607.0,0.00
205,Bhutan,5,0,0,0,2,3,0,6.0,0.00
206,Falkland Islands,5,0,0,0,1,4,0,1437.0,0.00
207,Gambia,4,0,1,0,2,1,0,2.0,0.40
208,Sao Tome and Principe,4,0,0,0,0,4,0,18.0,0.00
209,Western Sahara,4,0,0,0,0,4,0,7.0,0.00
210,Anguilla,3,0,0,0,0,3,0,200.0,0.00
211,British Virgin Islands,3,0,0,0,0,3,0,99.0,0.00
212,Burundi,3,0,0,0,0,3,0,0.3,0.00
213,Caribbean Netherlands,2,0,0,0,0,2,0,76.0,0.00
214,Papua New Guinea,2,0,0,0,0,2,0,0.2,0.00
215,South Sudan,2,0,0,0,0,2,0,0.2,0.00
216,Saint Pierre Miquelon,1,0,0,0,0,1,0,173.0,0.00
217,Timor-Leste,1,0,0,0,0,1,0,0.8,0.00
218,China,81865,63,3335,2,77370,1160,176,57.0,2.00

In [135]:
#Borra el total de 'World' y sumas por región

i = 0
while i < 8:
  df.drop(df.index[0],inplace=True)
  i += 1

df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Tot Deaths/1M pop
8,USA,435160,233,14797,9,22891,397472,9279,1315.0,45.00
9,Spain,148220,0,14792,0,48021,85407,7069,3170.0,316.00
10,Italy,139422,0,17669,0,26491,95262,3693,2306.0,292.00
11,Germany,113296,0,2349,0,46300,64647,4895,1352.0,28.00
12,France,112950,0,10869,0,21254,80827,7148,1730.0,167.00
13,Iran,64586,0,3993,0,29812,30781,3987,769.0,48.00
14,UK,60733,0,7097,0,135,53501,1559,895.0,105.00
15,Turkey,38226,0,812,0,1846,35568,1492,453.0,10.00
16,Belgium,24983,1580,2523,283,5164,17296,1285,2156.0,218.00
17,Switzerland,23404,124,909,14,9800,12695,391,2704.0,105.00
18,Netherlands,20549,0,2248,0,250,18051,1424,1199.0,131.00
19,Canada,19438,0,435,8,4653,14350,518,515.0,12.00
20,Brazil,16195,7,822,2,127,15246,296,76.0,4.00
21,Portugal,13141,0,380,0,196,12565,245,1289.0,37.00
22,Austria,13011,69,295,22,5240,7476,266,1445.0,33.00
23,S. Korea,10423,39,204,4,6973,3246,55,203.0,4.00
24,Russia,10131,1459,76,13,698,9357,8,69.0,0.50
25,Israel,9755,351,79,6,864,8812,165,1127.0,9.00
26,Sweden,8419,0,687,0,205,7527,678,834.0,68.00
27,Australia,6104,52,51,1,2987,3066,81,239.0,2.00
28,Ireland,6074,0,235,0,25,5814,165,1230.0,48.00
29,Norway,6042,0,101,0,32,5909,78,1115.0,19.00
30,India,5916,0,178,0,506,5232,0,4.0,0.10
31,Chile,5546,0,48,0,1115,4383,362,290.0,3.00
32,Denmark,5402,0,218,0,1621,3563,127,933.0,38.00
33,Poland,5341,136,164,5,284,4893,160,141.0,4.00
34,Czechia,5335,23,104,5,243,4988,96,498.0,10.00
35,Romania,4761,0,229,9,528,4004,162,247.0,12.00
36,Japan,4667,0,94,0,632,3941,99,37.0,0.70
37,Ecuador,4450,0,242,0,140,4068,146,252.0,14.00
...,...,...,...,...,...,...,...,...,...,...
189,Chad,10,0,0,0,2,8,0,0.6,0.00
190,MS Zaandam,9,0,2,0,0,7,0,0.0,0.00
191,Nepal,9,0,0,0,1,8,0,0.3,0.00
192,Montserrat,9,0,0,0,0,9,1,1803.0,0.00
193,Belize,8,0,1,0,0,7,1,20.0,3.00
194,Malawi,8,0,1,0,0,7,1,0.4,0.05
195,Turks and Caicos,8,0,1,0,0,7,0,207.0,26.00
196,CAR,8,0,0,0,0,8,0,2.0,0.00
197,Vatican City,8,0,0,0,2,6,0,9988.0,0.00
198,St. Vincent Grenadines,8,0,0,0,1,7,0,72.0,0.00
199,Cabo Verde,7,0,1,0,1,5,0,13.0,2.00
200,Sierra Leone,7,0,0,0,0,7,0,0.9,0.00
201,Botswana,6,0,1,0,0,5,0,3.0,0.40
202,Mauritania,6,0,1,0,2,3,0,1.0,0.20
203,Nicaragua,6,0,1,0,0,5,0,0.9,0.20
204,St. Barth,6,0,0,0,1,5,0,607.0,0.00
205,Bhutan,5,0,0,0,2,3,0,6.0,0.00
206,Falkland Islands,5,0,0,0,1,4,0,1437.0,0.00
207,Gambia,4,0,1,0,2,1,0,2.0,0.40
208,Sao Tome and Principe,4,0,0,0,0,4,0,18.0,0.00
209,Western Sahara,4,0,0,0,0,4,0,7.0,0.00
210,Anguilla,3,0,0,0,0,3,0,200.0,0.00
211,British Virgin Islands,3,0,0,0,0,3,0,99.0,0.00
212,Burundi,3,0,0,0,0,3,0,0.3,0.00
213,Caribbean Netherlands,2,0,0,0,0,2,0,76.0,0.00
214,Papua New Guinea,2,0,0,0,0,2,0,0.2,0.00
215,South Sudan,2,0,0,0,0,2,0,0.2,0.00
216,Saint Pierre Miquelon,1,0,0,0,0,1,0,173.0,0.00
217,Timor-Leste,1,0,0,0,0,1,0,0.8,0.00
218,China,81865,63,3335,2,77370,1160,176,57.0,2.00

In [119]:
## Pone el resumen de datos

Total_Cases= df['Total Cases'].sum()
Total_Deaths= df['Total Deaths'].sum()
Total_Recovered = df['Total Recovered'].sum()


print ("Total Cases=",Total_Cases)
print ("Total Deaths=",Total_Deaths)
print ("Total Recovered=",Total_Recovered)

Total Cases= 1524375
Total Deaths= 88965
Total Recovered= 332869

In [18]:
## Exporta a fichero .CSV

##df.to_csv('C:/Users/CIS Corporate/Downloads/corona_countries.csv')

# Conexión a Postgres

Para poder enviar la información a una base de datos.

In [41]:
#install postgres library
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.8.4)

In [58]:
#no ejecutar
from sqlalchemy import create_engine
import psycopg2 
import io

engine = create_engine('postgresql+psycopg2://sa:mypassword@postgres-test-instance.cg6usq5psdoc.eu-west-1.rds.amazonaws.com:5432/Coronavirus')

df.to_sql('country_cases', engine, if_exists='replace', index=False)

conn = engine.raw_connection()
cur = conn.cursor()
conn.commit()

# Script completo, sin validaciones

Para poder ejecutar toda la integración completa

In [36]:
!pip install schedule

Collecting schedule
  Downloading https://files.pythonhosted.org/packages/57/22/3a709462eb02412bd1145f6e53604f36bba191e3e4e397bea4a718fec38c/schedule-0.6.0-py2.py3-none-any.whl
Installing collected packages: schedule
Successfully installed schedule-0.6.0

In [136]:
#importa librerías
#relacionadas a web scraping
from bs4 import BeautifulSoup as soup
from requests import get
#relacionadas a gestión de datos por medio de dataframes
import pandas as pd
import numpy as np
#relacionadas a base de datos (Postgres)
from sqlalchemy import create_engine
import psycopg2 
import io


#definiciones de la URL que contiene la información
my_url = "https://www.worldometers.info/coronavirus/"
pageHTML = get(my_url)
soup = soup(pageHTML.text)

#busca la tabla que contiene los datos que buscamos
data = []
table = soup.find('table')
table_body = table.find('tbody')

#extrae los valores y los deja en formato adecuado para el análisis, un formato más parecido a una tabla
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append(cols) #quita los valores vacíos

#rellena líneas vacías
missingData = []
fixedData = [[]]
for row in data:
    for index,col in enumerate(row):
        if(col == ''):
            row[index] = 0

    missingData.append(row)

#crea las cabeceras
#importante: si la fuente altera el número de datos, esta parte deberá de ser mantenida para reflejar la misma información
#desde el inicio del proyecto se han hecho 5 actualizaciones
headers = ["Country", "Total Cases", "New Cases", "Total Deaths","New Deaths", "Total Recovered", "Active Cases", "Serious, Critical", "Tot Cases/1M pop", "Tot Deaths/1M pop", "Total Tests", "Tests/1M pop", "Region"]

#pasa la información a un dataframe
df = pd.DataFrame()
df = df.append(data)
df.columns = headers

#en un primer momento identifica todos los varoles como objeto al tener mezcla de signos como ","
## Elimina los signos que impiden convertir a número

df['Total Cases'] = df['Total Cases'].str.replace(',', '')
df['New Cases'] = df['New Cases'].str.replace('+', '')
df['New Cases'] = df['New Cases'].str.replace(',', '')
df['Total Deaths'] = df['Total Deaths'].str.replace(',', '')
df['New Deaths'] = df['New Deaths'].str.replace('+', '')
df['New Deaths'] = df['New Deaths'].str.replace(',', '')
df['Total Recovered'] = df['Total Recovered'].str.replace(',', '')
df['Active Cases'] = df['Active Cases'].str.replace(',', '')
df['Serious, Critical'] = df['Serious, Critical'].str.replace(',', '')
df['Tot Cases/1M pop'] = df['Tot Cases/1M pop'].str.replace(',', '')
df['Tot Deaths/1M pop'] = df['Tot Deaths/1M pop'].str.replace(',', '')

## Elimina los NaN para valores nulos y los sustituye por ceros
df.fillna(0, inplace=True)

## cambia los tipos de dato del dataframe
df = df.astype({"Total Cases": int})
df = df.astype({"New Cases": int})
df = df.astype({"Total Deaths": int})
df = df.astype({"New Deaths": int})
df = df.astype({"Total Recovered": int})
df = df.astype({"Active Cases": int})
df = df.astype({"Serious, Critical": int})
df = df.astype({"Tot Cases/1M pop": float})
df = df.astype({"Tot Deaths/1M pop": float})

#temporalmente borra la columna nueva, para no tener que añadir la columna en la base de datos y modificar, además el dashboard
#en una nueva versión del dashboard se deberá de incluir
del df['Total Tests']
del df['Tests/1M pop']
del df['Region']

#Borra el total de 'World' y sumas por región
i = 0
while i < 8:
  df.drop(df.index[0],inplace=True)
  i += 1


#Envío a la base de datos
#estos datos se deberán cambiar en el código final para Github
engine = create_engine('postgresql+psycopg2://sa:mypassword@postgres-test-instance.cg6usq5psdoc.eu-west-1.rds.amazonaws.com:5432/Coronavirus')

#hace un truncate, siempre deja solo la última información
df.to_sql('country_cases', engine, if_exists='replace', index=False)

conn = engine.raw_connection()
cur = conn.cursor()
conn.commit()


#-----------------------------------------------------------------------
# Hasta aquí el script que debe de ser puesto en la instancia de Python

## Pone el resumen de datos, solo para saber que hizo una iteración exitosa y después verificar vs el dashboard
Total_Cases= df['Total Cases'].sum()
Total_Deaths= df['Total Deaths'].sum()
Total_Recovered = df['Total Recovered'].sum()
total_rows = df.shape [0]

print ("Total Cases=",Total_Cases)
print ("Total Deaths=",Total_Deaths)
print ("Total Recovered=",Total_Recovered)
print ("Total Entities/Countries=",total_rows)

Total Cases= 1529084
Total Deaths= 89411
Total Recovered= 337133
Total Entities/Countries= 211