# Práctica 1: Web Scraping
(variante con envío a base de datos)

Conexión a la web de conteo de Coronavirus detallada por país:
https://www.worldometers.info/coronavirus/

Se utilizará Beautiful Soup para hacer Web Scraping, buscando la tabla de datos.
Pandas para pasar la información a un dataframe y ajustar la información para poder enviarla a una base de datos.
Con esta técnica se puede hacer una solución en línea que haga análisis y visualización de los datos casi en tiempo real.
Si se convierte en un script, se puede ejecutar cada minuto y quedar así sincronizado con la fuente de datos.

## Sección 1: Web Scrapping

En esta sección del código se busca la tabla del origen y se guarda en una tabla.

In [1]:
#importamos las librerías de BeautifulSoup para obtener el código de html y ayudarnos al scraping
#se imprta de librería de request para "conectarse" a la url

from bs4 import BeautifulSoup as soup
from requests import get

#el dataset se encuentra en este página, la cual es actualizada cada minuto
my_url = "https://www.worldometers.info/coronavirus/"

pageHTML = get(my_url)

In [2]:
#se obtiene el código html
soup = soup(pageHTML.text)

#se muestran los primeros 1000 caracteres
soup.text[:1000]

'\n\n\n\n\n\nCoronavirus Update (Live): 1,888,904 Cases and 117,585 Deaths from COVID-19 Virus Pandemic - Worldometer\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\t\t$.extend( $.fn.dataTable.defaults, {\n    responsive: true\n} );\n\t\n\t$(document).ready(function() {\n    $(\'#example2\').dataTable( {\n        "scrollCollapse": true,\n\t\t"sDom": \'<"bottom"flp><"clear">\',\n        "paging":         false\n    } );\n} );\n\t\n\n\t\t$.extend( $.fn.dataTable.defaults, {\n    responsive: true\n} );\n\t\n\t$(document).ready(function() {\n    $(\'#table3\').dataTable( {\n        "scrollCollapse": true,\n\t\t\t\t "order": [[ 1, \'desc\' ]],\n\t\t"sDom": \'<"bottom"flp><"clear">\',\n        "paging":         false\n    } );\n} );\n\t\n\n\t\t$.extend( $.fn.dataTable.defaults, {\n    responsive: true\n} );\n\t\n\t$(document).ready(function() {\n    $(\'#example\').dataTable( {\n        "scrollCollapse": true,\n\t\t"searching": false,\n\n\t\t"sDom": \'<"top">rt<"bottom"flp><"clear">\',\n        "paging":         false\n    } );\n} );\n\t\n\n$(document).ready(function() {\n\t$(\'#popbycountry\').dat'

In [3]:
# con este código obtenemos la tabla que contiene la información de detalle de país que es la que queremos obtener.
# previo a escribir este código, se hizo una búsqueda manual en la página mirando el código de html para ver
# en dónde se encontraba la información, esta revisión se hizo con el browser, utilizando las herramientas de desarrollador
# que permiten ubicar el código señalando el objeto de interés, en este caso la tabla. Para esto utilicé Chrome con las
# herramientas de desarrollador y encontré que el objeto 'table' con la etiqueta 'tbody' contenía los valores
data = []
table = soup.find('table')
table_body = table.find('tbody')

# se van ubicando los saltos de línea para poder ir uno a uno llenando las líneas de la variable de tabla en donde 
# se guardarán los datos
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append(cols)

# se muestran los valores de la tabla para ver cómo viene la información.    
print (data)

[['North America', '605,821', '+7,526', '24,296', '+820', '43,697', '537,828', '12,897', '', '', '', '', 'North America'], ['Europe', '899,365', '+18,255', '78,929', '+2,161', '230,405', '590,031', '29,843', '', '', '', '', 'Europe'], ['Asia', '308,207', '+9,471', '11,301', '+299', '150,330', '146,576', '6,651', '', '', '', '', 'Asia'], ['South America', '51,561', '+980', '2,162', '+81', '6,085', '43,314', '1,142', '', '', '', '', 'South America'], ['Oceania', '7,797', '+65', '66', '+3', '4,041', '3,690', '84', '', '', '', '', 'Australia/Oceania'], ['Africa', '15,432', '+350', '818', '+27', '2,999', '11,615', '178', '', '', '', '', 'Africa'], ['', '721', '', '13', '', '619', '89', '10', '', '', '', '', ''], ['World', '1,888,904', '+36,647', '117,585', '+3,391', '438,176', '1,333,143', '50,805', '242', '15.1', '', '', 'All'], ['USA', '566,654', '+6,354', '22,877', '+772', '33,743', '510,034', '11,807', '1,712', '69', '2,872,678', '8,679', 'North America'], ['Spain', '169,496', '+2,665', '17,489', '+280', '64,727', '87,280', '7,371', '3,625', '374', '600,000', '12,833', 'Europe'], ['Italy', '159,516', '+3,153', '20,465', '+566', '35,435', '103,616', '3,260', '2,638', '338', '1,046,910', '17,315', 'Europe'], ['France', '132,591', '', '14,393', '', '27,186', '91,012', '6,845', '2,031', '221', '333,807', '5,114', 'Europe'], ['Germany', '127,916', '+62', '3,022', '', '64,300', '60,594', '4,895', '1,527', '36', '1,317,887', '15,730', 'Europe'], ['UK', '88,621', '+4,342', '11,329', '+717', 'N/A', '76,948', '1,559', '1,305', '167', '367,667', '5,416', 'Europe'], ['Iran', '73,303', '+1,617', '4,585', '+111', '45,983', '22,735', '3,877', '873', '55', '275,427', '3,279', 'Asia'], ['Turkey', '61,049', '+4,093', '1,296', '+98', '3,957', '55,796', '1,786', '724', '15', '410,556', '4,868', 'Asia'], ['Belgium', '30,589', '+942', '3,903', '+303', '6,707', '19,979', '1,234', '2,639', '337', '102,151', '8,814', 'Europe'], ['Netherlands', '26,551', '+964', '2,823', '+86', '250', '23,478', '1,384', '1,550', '165', '115,992', '6,769', 'Europe'], ['Switzerland', '25,688', '+273', '1,138', '+32', '12,700', '11,850', '386', '2,968', '131', '193,800', '22,393', 'Europe'], ['Canada', '24,833', '+450', '735', '+18', '7,412', '16,686', '557', '658', '19', '422,200', '11,186', 'North America'], ['Brazil', '22,720', '+528', '1,269', '+46', '173', '21,278', '296', '107', '6', '62,985', '296', 'South America'], ['Russia', '18,328', '+2,558', '148', '+18', '1,470', '16,710', '8', '126', '1', '1,300,000', '8,908', 'Europe'], ['Portugal', '16,934', '+349', '535', '+31', '277', '16,122', '188', '1,661', '52', '163,616', '16,046', 'Europe'], ['Austria', '14,029', '+84', '368', '+18', '7,343', '6,318', '239', '1,558', '41', '148,412', '16,479', 'Europe'], ['Israel', '11,235', '+90', '113', '+10', '1,689', '9,433', '181', '1,298', '13', '117,339', '13,557', 'Asia'], ['Sweden', '10,948', '+465', '919', '+20', '381', '9,648', '859', '1,084', '91', '54,700', '5,416', 'Europe'], ['S. Korea', '10,537', '+25', '217', '+3', '7,447', '2,873', '55', '206', '4', '514,621', '10,038', 'Asia'], ['Ireland', '9,655', '', '334', '', '25', '9,296', '194', '1,955', '68', '72,000', '14,581', 'Europe'], ['India', '9,635', '+430', '331', '', '1,096', '8,208', '', '7', '0.2', '189,111', '137', 'Asia'], ['Ecuador', '7,529', '+63', '355', '+22', '597', '6,577', '121', '427', '20', '24,553', '1,392', 'South America'], ['Chile', '7,525', '+312', '82', '+2', '2,367', '5,076', '387', '394', '4', '85,035', '4,448', 'South America'], ['Peru', '7,519', '', '193', '', '1,798', '5,528', '134', '228', '6', '76,506', '2,320', 'South America'], ['Japan', '7,370', '', '123', '', '784', '6,463', '129', '58', '1.0', '77,381', '612', 'Asia'], ['Poland', '6,934', '+260', '245', '+13', '487', '6,202', '160', '183', '6', '143,630', '3,795', 'Europe'], ['Romania', '6,633', '+333', '318', '+2', '914', '5,401', '231', '345', '17', '67,204', '3,493', 'Europe'], ['Norway', '6,551', '+26', '133', '+5', '32', '6,386', '59', '1,208', '25', '127,305', '23,483', 'Europe'], ['Australia', '6,359', '+46', '61', '+2', '3,494', '2,804', '79', '249', '2', '362,136', '14,201', 'Australia/Oceania'], ['Denmark', '6,318', '+144', '285', '+12', '2,235', '3,798', '100', '1,091', '49', '72,099', '12,448', 'Europe'], ['Czechia', '6,022', '+31', '143', '+5', '519', '5,360', '87', '562', '13', '128,359', '11,986', 'Europe'], ['Pakistan', '5,496', '+266', '93', '+2', '1,095', '4,308', '44', '25', '0.4', '65,114', '295', 'Asia'], ['Saudi Arabia', '4,934', '+472', '65', '+6', '805', '4,064', '59', '142', '2', '115,585', '3,320', 'Asia'], ['Philippines', '4,932', '+284', '315', '+18', '242', '4,375', '1', '45', '3', '33,814', '309', 'Asia'], ['Malaysia', '4,817', '+134', '77', '+1', '2,276', '2,464', '66', '149', '2', '81,730', '2,525', 'Asia'], ['Mexico', '4,661', '+442', '296', '+23', '1,843', '2,522', '185', '36', '2', '36,594', '284', 'North America'], ['Indonesia', '4,557', '+316', '399', '+26', '380', '3,778', '', '17', '1', '27,075', '99', 'Asia'], ['UAE', '4,123', '', '25', '+3', '852', '3,246', '1', '417', '3', '648,195', '65,538', 'Asia'], ['Serbia', '4,054', '+424', '85', '+5', '400', '3,569', '138', '464', '10', '20,958', '2,399', 'Europe'], ['Panama', '3,400', '', '87', '', '29', '3,284', '106', '788', '20', '15,147', '3,511', 'North America'], ['Luxembourg', '3,292', '+11', '69', '+3', '500', '2,723', '30', '5,259', '110', '29,315', '46,831', 'Europe'], ['Qatar', '3,231', '+252', '7', '', '334', '2,890', '37', '1,121', '2', '50,828', '17,642', 'Asia'], ['Dominican Republic', '3,167', '+200', '177', '+4', '152', '2,838', '147', '292', '16', '9,275', '855', 'North America'], ['Ukraine', '3,102', '+325', '93', '+10', '97', '2,912', '45', '71', '2', '32,496', '743', 'Europe'], ['Finland', '3,064', '+90', '59', '+3', '300', '2,705', '74', '553', '11', '46,000', '8,302', 'Europe'], ['Belarus', '2,919', '+341', '29', '+3', '203', '2,687', '55', '309', '3', '68,000', '7,196', 'Europe'], ['Singapore', '2,918', '+386', '9', '+1', '586', '2,323', '29', '499', '2', '72,680', '12,423', 'Asia'], ['Colombia', '2,776', '', '109', '', '270', '2,397', '92', '55', '2', '41,765', '821', 'South America'], ['Thailand', '2,579', '+28', '40', '+2', '1,288', '1,251', '61', '37', '0.6', '71,860', '1,030', 'Asia'], ['Argentina', '2,208', '+66', '97', '+7', '468', '1,643', '83', '49', '2', '19,758', '437', 'South America'], ['South Africa', '2,173', '', '25', '', '410', '1,738', '7', '37', '0.4', '80,085', '1,350', 'Africa'], ['Greece', '2,145', '+31', '99', '+1', '269', '1,777', '73', '206', '9', '43,417', '4,165', 'Europe'], ['Egypt', '2,065', '', '159', '', '589', '1,317', '', '20', '2', '25,000', '244', 'Africa'], ['Algeria', '1,983', '+69', '313', '+20', '601', '1,069', '60', '45', '7', '3,359', '77', 'Africa'], ['Morocco', '1,746', '+85', '120', '+2', '196', '1,430', '1', '47', '3', '8,952', '243', 'Africa'], ['Moldova', '1,712', '+50', '35', '+4', '107', '1,570', '80', '424', '9', '6,271', '1,555', 'Europe'], ['Iceland', '1,711', '+10', '8', '', '933', '770', '10', '5,014', '23', '35,253', '103,308', 'Europe'], ['Croatia', '1,650', '+50', '25', '+2', '400', '1,225', '34', '402', '6', '17,790', '4,333', 'Europe'], ['Hungary', '1,458', '+48', '109', '+10', '120', '1,229', '58', '151', '11', '34,819', '3,604', 'Europe'], ['Iraq', '1,378', '+26', '78', '+2', '717', '583', '', '34', '2', '37,791', '940', 'Asia'], ['New Zealand', '1,349', '+19', '5', '+1', '546', '798', '4', '280', '1', '62,827', '13,029', 'Australia/Oceania'], ['Bahrain', '1,348', '+212', '6', '', '591', '751', '4', '792', '4', '65,768', '38,651', 'Asia'], ['Estonia', '1,332', '+23', '27', '+2', '102', '1,203', '9', '1,004', '20', '30,764', '23,191', 'Europe'], ['Kuwait', '1,300', '+66', '2', '+1', '150', '1,148', '26', '304', '0.5', '', '', 'Asia'], ['Slovenia', '1,212', '+7', '55', '+2', '152', '1,005', '34', '583', '26', '35,405', '17,030', 'Europe'], ['Azerbaijan', '1,148', '+50', '12', '+1', '289', '847', '27', '113', '1', '66,677', '6,576', 'Asia'], ['Lithuania', '1,062', '+9', '24', '+1', '101', '937', '14', '390', '9', '41,503', '15,246', 'Europe'], ['Armenia', '1,039', '+26', '14', '+1', '211', '814', '30', '351', '5', '7,631', '2,575', 'Asia'], ['Bosnia and Herzegovina', '1,030', '+21', '39', '', '206', '785', '4', '314', '12', '11,612', '3,539', 'Europe'], ['Hong Kong', '1,010', '+5', '4', '', '397', '609', '13', '135', '0.5', '96,709', '12,900', 'Asia'], ['Kazakhstan', '979', '+28', '12', '+2', '138', '829', '21', '52', '0.6', '69,304', '3,691', 'Asia'], ['Uzbekistan', '934', '+69', '4', '', '85', '845', '8', '28', '0.1', '70,000', '2,091', 'Asia'], ['North Macedonia', '854', '+26', '38', '+4', '44', '772', '15', '410', '18', '8,552', '4,105', 'Europe'], ['Cameroon', '820', '', '12', '', '98', '710', '', '31', '0.5', '', '', 'Africa'], ['Slovakia', '816', '+74', '2', '', '107', '707', '5', '149', '0.4', '28,750', '5,266', 'Europe'], ['Bangladesh', '803', '+182', '39', '+5', '42', '722', '1', '5', '0.2', '11,223', '68', 'Asia'], ['Oman', '727', '+128', '4', '', '124', '599', '3', '142', '0.8', '', '', 'Asia'], ['Cuba', '726', '+57', '21', '+3', '121', '584', '11', '64', '2', '17,133', '1,513', 'North America'], ['Diamond Princess', '712', '', '11', '', '619', '82', '10', '', '', '', '', ''], ['Tunisia', '707', '', '31', '', '43', '633', '89', '60', '3', '11,238', '951', 'Africa'], ['Bulgaria', '685', '+10', '32', '+3', '71', '582', '36', '99', '5', '18,502', '2,663', 'Europe'], ['Afghanistan', '665', '+58', '21', '+3', '32', '612', '', '17', '0.5', '', '', 'Asia'], ['Cyprus', '662', '+29', '12', '+1', '65', '585', '8', '548', '10', '17,923', '14,845', 'Asia'], ['Latvia', '655', '+4', '5', '', '16', '634', '2', '347', '3', '28,776', '15,256', 'Europe'], ['Andorra', '646', '+8', '29', '', '128', '489', '17', '8,361', '375', '1,673', '21,653', 'Europe'], ['Lebanon', '632', '+2', '20', '', '80', '532', '34', '93', '3', '15,408', '2,257', 'Asia'], ['Costa Rica', '595', '', '3', '', '56', '536', '14', '117', '0.6', '6,762', '1,327', 'North America'], ['Ivory Coast', '574', '', '5', '', '85', '484', '', '22', '0.2', '', '', 'Africa'], ['Ghana', '566', '', '8', '', '4', '554', '2', '18', '0.3', '37,954', '1,221', 'Africa'], ['Niger', '529', '', '12', '', '75', '442', '', '22', '0.5', '4,353', '180', 'Africa'], ['Burkina Faso', '497', '', '27', '', '161', '309', '', '24', '1', '', '', 'Africa'], ['Uruguay', '480', '', '8', '+1', '231', '241', '15', '138', '2', '8,774', '2,526', 'South America'], ['Albania', '467', '+21', '23', '', '232', '212', '7', '162', '8', '4,070', '1,414', 'Europe'], ['Channel Islands', '431', '', '9', '', '48', '374', '', '2,479', '52', '3,320', '19,095', 'Europe'], ['Kyrgyzstan', '419', '+42', '5', '', '67', '347', '5', '64', '0.8', '9,618', '1,474', 'Asia'], ['Honduras', '397', '+4', '25', '', '7', '365', '10', '40', '3', '1,600', '162', 'North America'], ['Taiwan', '393', '+5', '6', '', '114', '273', '', '17', '0.3', '47,215', '1,982', 'Asia'], ['Réunion', '391', '+2', '', '', '40', '351', '3', '437', '', '', '', 'Africa'], ['Jordan', '389', '', '7', '', '201', '181', '5', '38', '0.7', '20,500', '2,009', 'Asia'], ['Malta', '384', '+6', '3', '', '44', '337', '4', '870', '7', '18,065', '40,913', 'Europe'], ['San Marino', '356', '', '35', '', '53', '268', '14', '10,492', '1,032', '846', '24,933', 'Europe'], ['Bolivia', '330', '+30', '27', '+3', '2', '301', '3', '28', '2', '2,185', '187', 'South America'], ['Mauritius', '324', '', '9', '', '42', '273', '3', '255', '7', '7,077', '5,565', 'Africa'], ['Nigeria', '323', '', '10', '', '85', '228', '2', '2', '0.05', '5,000', '24', 'Africa'], ['Palestine', '308', '+18', '2', '', '58', '248', '', '60', '0.4', '17,329', '3,397', 'Asia'], ['Djibouti', '298', '+84', '2', '', '41', '255', '', '302', '2', '4,949', '5,009', 'Africa'], ['Senegal', '291', '+11', '2', '', '178', '111', '1', '17', '0.1', '', '', 'Africa'], ['Montenegro', '273', '+1', '3', '', '5', '265', '7', '435', '5', '2,869', '4,568', 'Europe'], ['Georgia', '266', '+9', '3', '', '67', '196', '6', '67', '0.8', '3,271', '820', 'Asia'], ['Vietnam', '265', '+3', '', '', '146', '119', '8', '3', '', '121,821', '1,252', 'Asia'], ['Guinea', '250', '', '', '', '17', '233', '', '19', '', '', '', 'Africa'], ['Isle of Man', '242', '+14', '2', '', '131', '109', '13', '2,846', '24', '2,030', '23,873', 'Europe'], ['DRC', '235', '+1', '20', '', '17', '198', '', '3', '0.2', '', '', 'Africa'], ['Sri Lanka', '217', '+7', '7', '', '56', '154', '1', '10', '0.3', '4,525', '211', 'Asia'], ['Kenya', '208', '+11', '9', '+1', '40', '159', '2', '4', '0.2', '8,123', '151', 'Africa'], ['Mayotte', '207', '+11', '3', '', '59', '145', '3', '759', '11', '1,400', '5,132', 'Africa'], ['Faeroe Islands', '184', '', '', '', '157', '27', '', '3,766', '', '5,509', '112,744', 'Europe'], ['Venezuela', '181', '', '9', '', '93', '79', '6', '6', '0.3', '181,335', '6,377', 'South America'], ['Martinique', '157', '+2', '6', '', '50', '101', '19', '418', '16', '', '', 'North America'], ['Guatemala', '155', '', '5', '', '19', '131', '3', '9', '0.3', '1,134', '63', 'North America'], ['Paraguay', '147', '+13', '6', '', '22', '119', '1', '21', '0.8', '3,394', '476', 'South America'], ['Guadeloupe', '143', '', '8', '', '67', '68', '13', '357', '20', '', '', 'North America'], ['El Salvador', '137', '+12', '6', '', '22', '109', '2', '21', '0.9', '6,729', '1,037', 'North America'], ['Brunei', '136', '', '1', '', '107', '28', '2', '311', '2', '10,167', '23,240', 'Asia'], ['Gibraltar', '129', '', '', '', '84', '45', '1', '3,829', '', '1,558', '46,244', 'Europe'], ['Rwanda', '126', '', '', '', '25', '101', '', '10', '', '1,966', '152', 'Africa'], ['Mali', '123', '+18', '10', '+1', '26', '87', '', '6', '0.5', '', '', 'Africa'], ['Cambodia', '122', '', '', '', '77', '45', '1', '7', '', '5,768', '345', 'Asia'], ['Trinidad and Tobago', '113', '', '8', '', '16', '89', '', '81', '6', '1,126', '805', 'North America'], ['Madagascar', '106', '', '', '', '21', '85', '1', '4', '', '', '', 'Africa'], ['Monaco', '93', '', '1', '', '6', '86', '5', '2,370', '25', '', '', 'Europe'], ['Aruba', '92', '', '', '', '32', '60', '1', '862', '', '1,145', '10,724', 'North America'], ['French Guiana', '86', '', '', '', '51', '35', '1', '288', '', '', '', 'South America'], ['Liechtenstein', '79', '', '1', '', '55', '23', '', '2,072', '26', '900', '23,605', 'Europe'], ['Togo', '77', '+1', '3', '', '29', '45', '', '9', '0.4', '2,739', '331', 'Africa'], ['Ethiopia', '74', '+3', '3', '', '14', '57', '', '0.6', '0.03', '4,110', '36', 'Africa'], ['Jamaica', '72', '', '4', '', '16', '52', '', '24', '1', '907', '306', 'North America'], ['Barbados', '71', '', '4', '', '11', '56', '4', '247', '14', '805', '2,801', 'North America'], ['Congo', '60', '', '5', '', '5', '50', '', '11', '0.9', '', '', 'Africa'], ['Liberia', '59', '+9', '6', '+1', '4', '49', '', '12', '1', '', '', 'Africa'], ['Bermuda', '57', '', '4', '', '29', '24', '2', '915', '64', '416', '6,680', 'North America'], ['Gabon', '57', '+8', '1', '', '1', '55', '', '26', '0.4', '', '', 'Africa'], ['Uganda', '54', '', '', '', '7', '47', '', '1', '', '5,025', '110', 'Africa'], ['Cayman Islands', '53', '', '1', '', '6', '46', '3', '806', '15', '536', '8,156', 'North America'], ['French Polynesia', '53', '', '', '', '', '53', '1', '189', '', '889', '3,165', 'Australia/Oceania'], ['Sint Maarten', '50', '', '9', '', '5', '36', '2', '1,166', '210', '134', '3,125', 'North America'], ['Bahamas', '47', '+1', '8', '', '6', '33', '1', '120', '20', '', '', 'North America'], ['Tanzania', '46', '+14', '3', '', '7', '36', '', '0.8', '0.05', '', '', 'Africa'], ['Guyana', '45', '', '6', '', '8', '31', '3', '57', '8', '193', '245', 'South America'], ['Macao', '45', '', '', '', '10', '35', '1', '69', '', '', '', 'Asia'], ['Zambia', '43', '', '2', '', '30', '11', '1', '2', '0.1', '1,239', '67', 'Africa'], ['Myanmar', '41', '', '4', '', '2', '35', '', '0.8', '0.07', '1,406', '26', 'Asia'], ['Guinea-Bissau', '38', '', '', '', '', '38', '', '19', '', '1,500', '762', 'Africa'], ['Benin', '35', '', '1', '', '5', '29', '', '3', '0.08', '', '', 'Africa'], ['Eritrea', '34', '', '', '', '', '34', '', '10', '', '', '', 'Africa'], ['Haiti', '33', '', '3', '', '', '30', '', '3', '0.3', '365', '32', 'North America'], ['Saint Martin', '32', '', '2', '', '11', '19', '5', '828', '52', '', '', 'North America'], ['Sudan', '29', '+10', '2', '', '4', '23', '', '0.7', '0.05', '', '', 'Africa'], ['Somalia', '25', '', '2', '+1', '2', '21', '2', '2', '0.1', '', '', 'Africa'], ['Syria', '25', '', '2', '', '5', '18', '', '1', '0.1', '', '', 'Asia'], ['Libya', '25', '', '1', '', '9', '15', '', '4', '0.1', '535', '78', 'Africa'], ['Antigua and Barbuda', '23', '+2', '2', '', '', '21', '1', '235', '20', '40', '408', 'North America'], ['Chad', '23', '+5', '', '', '2', '21', '', '1', '', '', '', 'Africa'], ['Equatorial Guinea', '21', '', '', '', '3', '18', '', '15', '', '854', '609', 'Africa'], ['Mozambique', '21', '', '', '', '2', '19', '', '0.7', '', '683', '22', 'Africa'], ['Maldives', '20', '', '', '', '14', '6', '', '37', '', '', '', 'Asia'], ['Angola', '19', '', '2', '', '4', '13', '', '0.6', '0.06', '', '', 'Africa'], ['Laos', '19', '', '', '', '', '19', '', '3', '', '1,140', '157', 'Asia'], ['New Caledonia', '18', '', '', '', '1', '17', '', '63', '', '2,608', '9,135', 'Australia/Oceania'], ['Mongolia', '17', '+1', '', '', '4', '13', '', '5', '', '', '', 'Asia'], ['Malawi', '16', '+3', '2', '', '', '14', '1', '0.8', '0.1', '314', '16', 'Africa'], ['Dominica', '16', '', '', '', '8', '8', '', '222', '', '345', '4,793', 'North America'], ['Fiji', '16', '', '', '', '', '16', '', '18', '', '', '', 'Australia/Oceania'], ['Namibia', '16', '', '', '', '3', '13', '', '6', '', '362', '142', 'Africa'], ['Saint Lucia', '15', '', '', '', '4', '11', '', '82', '', '', '', 'North America'], ['Zimbabwe', '14', '', '3', '', '', '11', '', '0.9', '0.2', '563', '38', 'Africa'], ['Belize', '14', '', '2', '', '', '12', '1', '35', '5', '364', '915', 'North America'], ['Curaçao', '14', '', '1', '', '8', '5', '', '85', '6', '', '', 'North America'], ['Nepal', '14', '+2', '', '', '1', '13', '', '0.5', '', '5,184', '178', 'Asia'], ['Grenada', '14', '', '', '', '', '14', '2', '124', '', '92', '818', 'North America'], ['Eswatini', '14', '', '', '', '7', '7', '', '12', '', '', '', 'Africa'], ['Botswana', '13', '', '1', '', '', '12', '', '6', '0.4', '3,115', '1,325', 'Africa'], ['Saint Kitts and Nevis', '12', '', '', '', '', '12', '', '226', '', '216', '4,060', 'North America'], ['St. Vincent Grenadines', '12', '', '', '', '1', '11', '', '108', '', '56', '505', 'North America'], ['CAR', '11', '+3', '', '', '3', '8', '', '2', '', '', '', 'Africa'], ['Greenland', '11', '', '', '', '11', '0', '', '194', '', '912', '16,065', 'North America'], ['Montserrat', '11', '+2', '', '', '1', '10', '1', '2,204', '', '36', '7,212', 'North America'], ['Seychelles', '11', '', '', '', '', '11', '', '112', '', '', '', 'Africa'], ['Cabo Verde', '10', '+2', '1', '', '1', '8', '', '18', '2', '', '', 'Africa'], ['Suriname', '10', '', '1', '', '4', '5', '', '17', '2', '', '', 'South America'], ['Sierra Leone', '10', '', '', '', '', '10', '', '1', '', '', '', 'Africa'], ['MS Zaandam', '9', '', '2', '', '', '7', '', '', '', '', '', ''], ['Gambia', '9', '', '1', '', '2', '6', '', '4', '0.4', '281', '116', 'Africa'], ['Nicaragua', '9', '', '1', '', '4', '4', '', '1', '0.2', '', '', 'North America'], ['Turks and Caicos', '9', '', '1', '', '', '8', '', '232', '26', '62', '1,601', 'North America'], ['Vatican City', '8', '', '', '', '2', '6', '', '9,988', '', '', '', 'Europe'], ['Mauritania', '7', '', '1', '', '2', '4', '', '2', '0.2', '496', '107', 'Africa'], ['St. Barth', '6', '', '', '', '4', '2', '', '607', '', '', '', 'North America'], ['Western Sahara', '6', '', '', '', '', '6', '', '10', '', '', '', 'Africa'], ['Burundi', '5', '', '1', '+1', '', '4', '', '0.4', '0.08', '', '', 'Af

In [4]:
# eliminamos los valores que no tienen datos, si es que hay alguno
missingData = []
fixedData = [[]]
for row in data:
    for index,col in enumerate(row):
        if(col == ''):
            row[index] = 0
        
    missingData.append(row)

In [5]:
# definimos las cabeceras de acuerdo a la tabla de la web, colocando el nombre que queramos para las columnas.
# debemos tener cuidado porque la página fuente es actualizada constantemente, desde que inicié la práctica, se han hecho
# 5 cambios y se añaden líneas o columnas y si las columnas no coinciden, esta parte del código debe ser revisada y ajustada
# ya que de otra forma enviará un error, la forma de evitar el error es revisar el nombre de las columnas en la página fuente
# y dejar igual las columnas en un sitio y otro, si hay columnas o líneas no útiles, más adeoante se pueden eliminar.

headers = ["Country", "Total Cases", "New Cases", "Total Deaths","New Deaths", "Total Recovered", "Active Cases", "Serious, Critical", "Tot Cases/1M pop", "Tot Deaths/1M pop", "Total Tests", "Tests/1M pop", "Region"]

# mostramos las cabeceras para ver que todo es correcto
headers

# hasta este punto se ha hecho el scraping y la información está lista para pasar a un dataframe

['Country',
 'Total Cases',
 'New Cases',
 'Total Deaths',
 'New Deaths',
 'Total Recovered',
 'Active Cases',
 'Serious, Critical',
 'Tot Cases/1M pop',
 'Tot Deaths/1M pop',
 'Total Tests',
 'Tests/1M pop',
 'Region']

## Sección 2: Envío de datos a data frame

En esta sección se hace limpieza de datos y se escribe la tabla extraida a un dataframe que permite hacer tratamiento y operaciones sobre los datos.

In [6]:
# importamos pandas y numpy para crear dataframes a partir de la tabla creada y poder manipular mejor la información
import pandas as pd
import numpy as np

# se envía la tabla al dataframe
df = pd.DataFrame()
df = df.append(data)
df.columns = headers

# se muestra la información en formato dataframe
df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Tot Deaths/1M pop,Total Tests,Tests/1M pop,Region
0,North America,"605,821","+7,526","24,296",+820,"43,697","537,828","12,897",0,0,0,0,North America
1,Europe,"899,365","+18,255","78,929","+2,161","230,405","590,031","29,843",0,0,0,0,Europe
2,Asia,"308,207","+9,471","11,301",+299,"150,330","146,576","6,651",0,0,0,0,Asia
3,South America,"51,561",+980,"2,162",+81,"6,085","43,314","1,142",0,0,0,0,South America
4,Oceania,"7,797",+65,66,+3,"4,041","3,690",84,0,0,0,0,Australia/Oceania
5,Africa,"15,432",+350,818,+27,"2,999","11,615",178,0,0,0,0,Africa
6,0,721,0,13,0,619,89,10,0,0,0,0,0
7,World,"1,888,904","+36,647","117,585","+3,391","438,176","1,333,143","50,805",242,15.1,0,0,All
8,USA,"566,654","+6,354","22,877",+772,"33,743","510,034","11,807","1,712",69,"2,872,678","8,679",North America
9,Spain,"169,496","+2,665","17,489",+280,"64,727","87,280","7,371","3,625",374,"600,000","12,833",Europe
10,Italy,"159,516","+3,153","20,465",+566,"35,435","103,616","3,260","2,638",338,"1,046,910","17,315",Europe
11,France,"132,591",0,"14,393",0,"27,186","91,012","6,845","2,031",221,"333,807","5,114",Europe
12,Germany,"127,916",+62,"3,022",0,"64,300","60,594","4,895","1,527",36,"1,317,887","15,730",Europe
13,UK,"88,621","+4,342","11,329",+717,N/A,"76,948","1,559","1,305",167,"367,667","5,416",Europe
14,Iran,"73,303","+1,617","4,585",+111,"45,983","22,735","3,877",873,55,"275,427","3,279",Asia
15,Turkey,"61,049","+4,093","1,296",+98,"3,957","55,796","1,786",724,15,"410,556","4,868",Asia
16,Belgium,"30,589",+942,"3,903",+303,"6,707","19,979","1,234","2,639",337,"102,151","8,814",Europe
17,Netherlands,"26,551",+964,"2,823",+86,250,"23,478","1,384","1,550",165,"115,992","6,769",Europe
18,Switzerland,"25,688",+273,"1,138",+32,"12,700","11,850",386,"2,968",131,"193,800","22,393",Europe
19,Canada,"24,833",+450,735,+18,"7,412","16,686",557,658,19,"422,200","11,186",North America
20,Brazil,"22,720",+528,"1,269",+46,173,"21,278",296,107,6,"62,985",296,South America
21,Russia,"18,328","+2,558",148,+18,"1,470","16,710",8,126,1,"1,300,000","8,908",Europe
22,Portugal,"16,934",+349,535,+31,277,"16,122",188,"1,661",52,"163,616","16,046",Europe
23,Austria,"14,029",+84,368,+18,"7,343","6,318",239,"1,558",41,"148,412","16,479",Europe
24,Israel,"11,235",+90,113,+10,"1,689","9,433",181,"1,298",13,"117,339","13,557",Asia
25,Sweden,"10,948",+465,919,+20,381,"9,648",859,"1,084",91,"54,700","5,416",Europe
26,S. Korea,"10,537",+25,217,+3,"7,447","2,873",55,206,4,"514,621","10,038",Asia
27,Ireland,"9,655",0,334,0,25,"9,296",194,"1,955",68,"72,000","14,581",Europe
28,India,"9,635",+430,331,0,"1,096","8,208",0,7,0.2,"189,111",137,Asia
29,Ecuador,"7,529",+63,355,+22,597,"6,577",121,427,20,"24,553","1,392",South America
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Saint Kitts and Nevis,12,0,0,0,0,12,0,226,0,216,"4,060",North America
191,St. Vincent Grenadines,12,0,0,0,1,11,0,108,0,56,505,North America
192,CAR,11,+3,0,0,3,8,0,2,0,0,0,Africa
193,Greenland,11,0,0,0,11,0,0,194,0,912,"16,065",North America
194,Montserrat,11,+2,0,0,1,10,1,"2,204",0,36,"7,212",North America
195,Seychelles,11,0,0,0,0,11,0,112,0,0,0,Africa
196,Cabo Verde,10,+2,1,0,1,8,0,18,2,0,0,Africa
197,Suriname,10,0,1,0,4,5,0,17,2,0,0,South America
198,Sierra Leone,10,0,0,0,0,10,0,1,0,0,0,Africa
199,MS Zaandam,9,0,2,0,0,7,0,0,0,0,0,0
200,Gambia,9,0,1,0,2,6,0,4,0.4,281,116,Africa
201,Nicaragua,9,0,1,0,4,4,0,1,0.2,0,0,North America
202,Turks and Caicos,9,0,1,0,0,8,0,232,26,62,"1,601",North America
203,Vatican City,8,0,0,0,2,6,0,"9,988",0,0,0,Europe
204,Mauritania,7,0,1,0,2,4,0,2,0.2,496,107,Africa
205,St. Barth,6,0,0,0,4,2,0,607,0,0,0,North America
206,Western Sahara,6,0,0,0,0,6,0,10,0,0,0,Africa
207,Burundi,5,0,1,+1,0,4,0,0.4,0.08,0,0,Africa
208,Bhutan,5,0,0,0,2,3,0,6,0,"1,166","1,511",Asia
209,Falkland Islands,5,0,0,0,1,4,0,"1,437",0,137,"39,368",South America
210,Sao Tome and Principe,4,0,0,0,0,4,0,18,0,19,87,Africa
211,South Sudan,4,0,0,0,0,4,0,0.4,0,0,0,Africa
212,Timor-Leste,4,+2,0,0,1,3,0,3,0,0,0,Asia
213,Anguilla,3,0,0,0,1,2,0,200,0,0,0,North America
214,British Virgin Islands,3,0,0,0,2,1,0,99,0,0,0,North America
215,Caribbean Netherlands,3,0,0,0,0,3,0,114,0,10,381,North America
216,Papua New Guinea,2,0,0,0,0,2,0,0.2,0,72,8,Australia/Oceania
217,Saint Pierre Miquelon,1,0,0,0,0,1,0,173,0,0,0,North America
218,Yemen,1,0,0,0,0,1,0,0.03,0,0,0,Asia
219,China,"82,160",+108,"3,341",+2,"77,663","1,156",121,57,2,0,0,Asia

In [7]:
## Elimina los signos que impiden convertir a número

df['Total Cases'] = df['Total Cases'].str.replace(',', '')
df['New Cases'] = df['New Cases'].str.replace('+', '')
df['New Cases'] = df['New Cases'].str.replace(',', '')
df['Total Deaths'] = df['Total Deaths'].str.replace(',', '')
df['New Deaths'] = df['New Deaths'].str.replace('+', '')
df['New Deaths'] = df['New Deaths'].str.replace(',', '')
df['Total Recovered'] = df['Total Recovered'].str.replace(',', '')
df['Active Cases'] = df['Active Cases'].str.replace(',', '')
df['Serious, Critical'] = df['Serious, Critical'].str.replace(',', '')
df['Tot Cases/1M pop'] = df['Tot Cases/1M pop'].str.replace(',', '')
df['Tot Deaths/1M pop'] = df['Tot Deaths/1M pop'].str.replace(',', '')

#caso irregular ocurrido el 13 de abril:
df['Total Recovered'] = df['Total Recovered'].str.replace('N/A', '0')

## Elimina los NaN para valores nulos y los sustituye por ceros
df.fillna(0, inplace=True)

In [8]:
# muestra los tipos de dato que de momento todo son object
df.dtypes

Country              object
Total Cases          object
New Cases            object
Total Deaths         object
New Deaths           object
Total Recovered      object
Active Cases         object
Serious, Critical    object
Tot Cases/1M pop     object
Tot Deaths/1M pop    object
Total Tests          object
Tests/1M pop         object
Region               object
dtype: object

In [9]:
# cambia los tipos de dato del dataframe, para poder enviar el dataframe eventualmente a una base de datos.
# en caso de enviarlo a un csv, este paso no tiene tanto impacto, sin embargo si queremos hacer operaciones con el
# dataframe, lo mejor es tener las columas declaradas en el formato correcto:

df = df.astype({"Total Cases": int})
df = df.astype({"New Cases": int})
df = df.astype({"Total Deaths": int})
df = df.astype({"New Deaths": int})
df = df.astype({"Total Recovered": int})
df = df.astype({"Active Cases": int})
df = df.astype({"Serious, Critical": int})
df = df.astype({"Tot Cases/1M pop": float})
df = df.astype({"Tot Deaths/1M pop": float})

# vemos que se han convertido correctamente
df.dtypes

Country               object
Total Cases            int32
New Cases              int32
Total Deaths           int32
New Deaths             int32
Total Recovered        int32
Active Cases           int32
Serious, Critical      int32
Tot Cases/1M pop     float64
Tot Deaths/1M pop    float64
Total Tests           object
Tests/1M pop          object
Region                object
dtype: object

In [10]:
# Removemos columnas y líneas no utilizadas
# es importante señalar que para este caso, he decidido quitar estas columnas, porque el scraping del covid está
# teniendo mucho movimiento porque al tratarse de un tema de interés mundial, la página fuente altera la tabla constantemente
# para aportar más información y en nuestra párctica no toda la información es relavante

# elimino 3 columnas que no estaban en el código inicial.
# en casos futuros, si 

# quita las columnas no utilizadas.
del df['Total Tests']
del df['Tests/1M pop']
del df['Region']

# y quita las líneas no utilizadas que corresponden a agrupaciones y sumas que se pueden hacer por otros medios.
# si las dejamos enviará valores duplicados al hacer sumas.

i = 0
while i < 8:
  df.drop(df.index[0],inplace=True)
  i += 1

# reinicia el índice del dataframe     
df.reset_index(drop=True, inplace=True)    
    
# mostramos y validamos la tabla en formato final
df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Tot Deaths/1M pop
0,USA,566654,6354,22877,772,33743,510034,11807,1712.00,69.00
1,Spain,169496,2665,17489,280,64727,87280,7371,3625.00,374.00
2,Italy,159516,3153,20465,566,35435,103616,3260,2638.00,338.00
3,France,132591,0,14393,0,27186,91012,6845,2031.00,221.00
4,Germany,127916,62,3022,0,64300,60594,4895,1527.00,36.00
5,UK,88621,4342,11329,717,0,76948,1559,1305.00,167.00
6,Iran,73303,1617,4585,111,45983,22735,3877,873.00,55.00
7,Turkey,61049,4093,1296,98,3957,55796,1786,724.00,15.00
8,Belgium,30589,942,3903,303,6707,19979,1234,2639.00,337.00
9,Netherlands,26551,964,2823,86,250,23478,1384,1550.00,165.00
10,Switzerland,25688,273,1138,32,12700,11850,386,2968.00,131.00
11,Canada,24833,450,735,18,7412,16686,557,658.00,19.00
12,Brazil,22720,528,1269,46,173,21278,296,107.00,6.00
13,Russia,18328,2558,148,18,1470,16710,8,126.00,1.00
14,Portugal,16934,349,535,31,277,16122,188,1661.00,52.00
15,Austria,14029,84,368,18,7343,6318,239,1558.00,41.00
16,Israel,11235,90,113,10,1689,9433,181,1298.00,13.00
17,Sweden,10948,465,919,20,381,9648,859,1084.00,91.00
18,S. Korea,10537,25,217,3,7447,2873,55,206.00,4.00
19,Ireland,9655,0,334,0,25,9296,194,1955.00,68.00
20,India,9635,430,331,0,1096,8208,0,7.00,0.20
21,Ecuador,7529,63,355,22,597,6577,121,427.00,20.00
22,Chile,7525,312,82,2,2367,5076,387,394.00,4.00
23,Peru,7519,0,193,0,1798,5528,134,228.00,6.00
24,Japan,7370,0,123,0,784,6463,129,58.00,1.00
25,Poland,6934,260,245,13,487,6202,160,183.00,6.00
26,Romania,6633,333,318,2,914,5401,231,345.00,17.00
27,Norway,6551,26,133,5,32,6386,59,1208.00,25.00
28,Australia,6359,46,61,2,3494,2804,79,249.00,2.00
29,Denmark,6318,144,285,12,2235,3798,100,1091.00,49.00
...,...,...,...,...,...,...,...,...,...,...
182,Saint Kitts and Nevis,12,0,0,0,0,12,0,226.00,0.00
183,St. Vincent Grenadines,12,0,0,0,1,11,0,108.00,0.00
184,CAR,11,3,0,0,3,8,0,2.00,0.00
185,Greenland,11,0,0,0,11,0,0,194.00,0.00
186,Montserrat,11,2,0,0,1,10,1,2204.00,0.00
187,Seychelles,11,0,0,0,0,11,0,112.00,0.00
188,Cabo Verde,10,2,1,0,1,8,0,18.00,2.00
189,Suriname,10,0,1,0,4,5,0,17.00,2.00
190,Sierra Leone,10,0,0,0,0,10,0,1.00,0.00
191,MS Zaandam,9,0,2,0,0,7,0,0.00,0.00
192,Gambia,9,0,1,0,2,6,0,4.00,0.40
193,Nicaragua,9,0,1,0,4,4,0,1.00,0.20
194,Turks and Caicos,9,0,1,0,0,8,0,232.00,26.00
195,Vatican City,8,0,0,0,2,6,0,9988.00,0.00
196,Mauritania,7,0,1,0,2,4,0,2.00,0.20
197,St. Barth,6,0,0,0,4,2,0,607.00,0.00
198,Western Sahara,6,0,0,0,0,6,0,10.00,0.00
199,Burundi,5,0,1,1,0,4,0,0.40,0.08
200,Bhutan,5,0,0,0,2,3,0,6.00,0.00
201,Falkland Islands,5,0,0,0,1,4,0,1437.00,0.00
202,Sao Tome and Principe,4,0,0,0,0,4,0,18.00,0.00
203,South Sudan,4,0,0,0,0,4,0,0.40,0.00
204,Timor-Leste,4,2,0,0,1,3,0,3.00,0.00
205,Anguilla,3,0,0,0,1,2,0,200.00,0.00
206,British Virgin Islands,3,0,0,0,2,1,0,99.00,0.00
207,Caribbean Netherlands,3,0,0,0,0,3,0,114.00,0.00
208,Papua New Guinea,2,0,0,0,0,2,0,0.20,0.00
209,Saint Pierre Miquelon,1,0,0,0,0,1,0,173.00,0.00
210,Yemen,1,0,0,0,0,1,0,0.03,0.00
211,China,82160,108,3341,2,77663,1156,121,57.00,2.00

## Sección 3: Comprobaciones y envío a base de datos

En esta sección se comprueba que los valores son correctos vs la fuente y se envían los datos a una base de datos para su posterior uso, en otras herramientas de análisis, visualización o predicción.

In [11]:
## Pone el resumen de datos para validar que efectivamente es correcto con respecto a la página fuente

Total_Cases= df['Total Cases'].sum()
Total_Deaths= df['Total Deaths'].sum()
Total_Recovered = df['Total Recovered'].sum()


print ("Total Cases=",Total_Cases)
print ("Total Deaths=",Total_Deaths)
print ("Total Recovered=",Total_Recovered)

Total Cases= 1888904
Total Deaths= 117585
Total Recovered= 437832

In [58]:
# importa librerías para conexión a base de datos (en este ejemplo es postgresql) y también hay liberías para
# ejecución de código sql y envío de dataframe a una tabla.

from sqlalchemy import create_engine
import psycopg2 
import io

# parámetros de conexión, se pueden poner en un fichero de configuración se deben de sustituir los parámetros entre <>
# por los que correspondan
engine = create_engine('postgresql+psycopg2://<usuario>:<password>@<host>:<puerto>/<base_de_datos>')

# en este caso la tabla se reescribe cada vez que el script sea ejecutado, para evitar duplicidad
df.to_sql('<tabla>', engine, if_exists='replace', index=False)

conn = engine.raw_connection()
cur = conn.cursor()
conn.commit()